In [23]:
import pandas as pd
import datetime
from glob import glob
import os


taxi_data_basepath = './raw_data/taxi/'

df = pd.read_csv('./raw_data/taxi/yellow_tripdata_2009-01.csv', nrows=10000)
last_path = os.path.join(taxi_data_basepath, 'yellow_tripdata_2009-01.csv')
last_schema = df.dtypes
list_of_schemas = [(last_path, last_schema),]

for filepath in sorted(glob(os.path.join(taxi_data_basepath, 'yellow_tripdata_20*.csv'))):
    print(datetime.datetime.now().isoformat(timespec='seconds'), ' - checking:', os.path.basename(filepath))
    temp = pd.read_csv(filepath, nrows=10000)
    current_path = filepath
    current_schema = temp.dtypes
    if not current_schema.equals(last_schema):
        list_of_schemas.append((current_path, current_schema))
        last_path = current_path
        last_schema = current_schema

print('--------------------------------------------------')
        
for s in list_of_schemas:
    print(s)

2020-06-03T17:05:44  - checking: yellow_tripdata_2009-01.csv
2020-06-03T17:05:45  - checking: yellow_tripdata_2009-02.csv
2020-06-03T17:05:45  - checking: yellow_tripdata_2009-03.csv
2020-06-03T17:05:45  - checking: yellow_tripdata_2009-04.csv
2020-06-03T17:05:45  - checking: yellow_tripdata_2009-05.csv
2020-06-03T17:05:45  - checking: yellow_tripdata_2009-06.csv
2020-06-03T17:05:45  - checking: yellow_tripdata_2009-07.csv
2020-06-03T17:05:45  - checking: yellow_tripdata_2009-08.csv
2020-06-03T17:05:45  - checking: yellow_tripdata_2009-09.csv
2020-06-03T17:05:45  - checking: yellow_tripdata_2009-10.csv
2020-06-03T17:05:45  - checking: yellow_tripdata_2009-11.csv
2020-06-03T17:05:45  - checking: yellow_tripdata_2009-12.csv
2020-06-03T17:05:45  - checking: yellow_tripdata_2010-01.csv
2020-06-03T17:05:45  - checking: yellow_tripdata_2010-02.csv
2020-06-03T17:05:45  - checking: yellow_tripdata_2010-03.csv
2020-06-03T17:05:46  - checking: yellow_tripdata_2010-04.csv
2020-06-03T17:05:46  - checking: yellow_tripdata_2010-05.csv
2020-06-03T17:05:46  - checking: yellow_tripdata_2010-06.csv
2020-06-03T17:05:46  - checking: yellow_tripdata_2010-07.csv
2020-06-03T17:05:46  - checking: yellow_tripdata_2010-08.csv
2020-06-03T17:05:46  - checking: yellow_tripdata_2010-09.csv
2020-06-03T17:05:46  - checking: yellow_tripdata_2010-10.csv
2020-06-03T17:05:46  - checking: yellow_tripdata_2010-11.csv
2020-06-03T17:05:46  - checking: yellow_tripdata_2010-12.csv
2020-06-03T17:05:46  - checking: yellow_tripdata_2011-01.csv
2020-06-03T17:05:46  - checking: yellow_tripdata_2011-02.csv
2020-06-03T17:05:46  - checking: yellow_tripdata_2011-03.csv
2020-06-03T17:05:46  - checking: yellow_tripdata_2011-04.csv
2020-06-03T17:05:46  - checking: yellow_tripdata_2011-05.csv
2020-06-03T17:05:46  - checking: yellow_tripdata_2011-06.csv
2020-06-03T17:05:46  - checking: yellow_tripdata_2011-07.csv
2020-06-03T17:05:46  - checking: yellow_tripdata_2011-08.csv
2020-06-03T17:05:46  - checking: yellow_tripdata_2011-09.csv
2020-06-03T17:05:46  - checking: yellow_tripdata_2011-10.csv
2020-06-03T17:05:46  - checking: yellow_tripdata_2011-11.csv
2020-06-03T17:05:47  - checking: yellow_tripdata_2011-12.csv
2020-06-03T17:05:47  - checking: yellow_tripdata_2012-01.csv
2020-06-03T17:05:47  - checking: yellow_tripdata_2012-02.csv
2020-06-03T17:05:47  - checking: yellow_tripdata_2012-03.csv
2020-06-03T17:05:47  - checking: yellow_tripdata_2012-04.csv
2020-06-03T17:05:47  - checking: yellow_tripdata_2012-05.csv
2020-06-03T17:05:47  - checking: yellow_tripdata_2012-06.csv
2020-06-03T17:05:47  - checking: yellow_tripdata_2012-07.csv
2020-06-03T17:05:47  - checking: yellow_tripdata_2012-08.csv
2020-06-03T17:05:47  - checking: yellow_tripdata_2012-09.csv
2020-06-03T17:05:47  - checking: yellow_tripdata_2012-10.csv
2020-06-03T17:05:47  - checking: yellow_tripdata_2012-11.csv
2020-06-03T17:05:47  - checking: yellow_tripdata_2012-12.csv
2020-06-03T17:05:47  - checking: yellow_tripdata_2013-01.csv
2020-06-03T17:05:47  - checking: yellow_tripdata_2013-02.csv
2020-06-03T17:05:47  - checking: yellow_tripdata_2013-03.csv
2020-06-03T17:05:47  - checking: yellow_tripdata_2013-04.csv
2020-06-03T17:05:47  - checking: yellow_tripdata_2013-05.csv
2020-06-03T17:05:47  - checking: yellow_tripdata_2013-06.csv
2020-06-03T17:05:47  - checking: yellow_tripdata_2013-07.csv
2020-06-03T17:05:47  - checking: yellow_tripdata_2013-08.csv
2020-06-03T17:05:47  - checking: yellow_tripdata_2013-09.csv
2020-06-03T17:05:48  - checking: yellow_tripdata_2013-10.csv
2020-06-03T17:05:48  - checking: yellow_tripdata_2013-11.csv
2020-06-03T17:05:48  - checking: yellow_tripdata_2013-12.csv
2020-06-03T17:05:48  - checking: yellow_tripdata_2014-01.csv
2020-06-03T17:05:48  - checking: yellow_tripdata_2014-02.csv
2020-06-03T17:05:48  - checking: yellow_tripdata_2014-03.csv
2020-06-03T17:05:48  - checking: yellow_tripdata_2014-04.csv
2020-06-03T17:05:48  - checking: yellow_tripdata_2014-05.csv
2020-06-03T17:05:48  - checking: yellow_tripdata_2014-06.csv
2020-06-03T17:05:48  - checking: yellow_tripdata_2014-07.csv
2020-06-03T17:05:48  - checking: yellow_tripdata_2014-08.csv
2020-06-03T17:05:48  - checking: yellow_tripdata_2014-09.csv
2020-06-03T17:05:48  - checking: yellow_tripdata_2014-10.csv
2020-06-03T17:05:48  - checking: yellow_tripdata_2014-11.csv
2020-06-03T17:05:48  - checking: yellow_tripdata_2014-12.csv
2020-06-03T17:05:48  - checking: yellow_tripdata_2015-01.csv
2020-06-03T17:05:48  - checking: yellow_tripdata_2015-02.csv
2020-06-03T17:05:48  - checking: yellow_tripdata_2015-03.csv
2020-06-03T17:05:48  - checking: yellow_tripdata_2015-04.csv
2020-06-03T17:05:48  - checking: yellow_tripdata_2015-05.csv
2020-06-03T17:05:48  - checking: yellow_tripdata_2015-06.csv
2020-06-03T17:05:49  - checking: yellow_tripdata_2015-07.csv
2020-06-03T17:05:49  - checking: yellow_tripdata_2015-08.csv
2020-06-03T17:05:49  - checking: yellow_tripdata_2015-09.csv
2020-06-03T17:05:49  - checking: yellow_tripdata_2015-10.csv
2020-06-03T17:05:49  - checking: yellow_tripdata_2015-11.csv
2020-06-03T17:05:49  - checking: yellow_tripdata_2015-12.csv
2020-06-03T17:05:49  - checking: yellow_tripdata_2016-01.csv
2020-06-03T17:05:49  - checking: yellow_tripdata_2016-02.csv
2020-06-03T17:05:49  - checking: yellow_tripdata_2016-03.csv
2020-06-03T17:05:49  - checking: yellow_tripdata_2016-04.csv
2020-06-03T17:05:49  - checking: yellow_tripdata_2016-05.csv
2020-06-03T17:05:49  - checking: yellow_tripdata_2016-06.csv
2020-06-03T17:05:49  - checking: yellow_tripdata_2016-07.csv
2020-06-03T17:05:49  - checking: yellow_tripdata_2016-08.csv
2020-06-03T17:05:49  - checking: yellow_tripdata_2016-09.csv
2020-06-03T17:05:49  - checking: yellow_tripdata_2016-10.csv
2020-06-03T17:05:49  - checking: yellow_tripdata_2016-11.csv
2020-06-03T17:05:49  - checking: yellow_tripdata_2016-12.csv
2020-06-03T17:05:50  - checking: yellow_tripdata_2017-01.csv
2020-06-03T17:05:50  - checking: yellow_tripdata_2017-02.csv
2020-06-03T17:05:50  - checking: yellow_tripdata_2017-03.csv
2020-06-03T17:05:50  - checking: yellow_tripdata_2017-04.csv
2020-06-03T17:05:50  - checking: yellow_tripdata_2017-05.csv
2020-06-03T17:05:50  - checking: yellow_tripdata_2017-06.csv
2020-06-03T17:05:50  - checking: yellow_tripdata_2017-07.csv
2020-06-03T17:05:50  - checking: yellow_tripdata_2017-08.csv
2020-06-03T17:05:50  - checking: yellow_tripdata_2017-09.csv
2020-06-03T17:05:50  - checking: yellow_tripdata_2017-10.csv
2020-06-03T17:05:50  - checking: yellow_tripdata_2017-11.csv
2020-06-03T17:05:50  - checking: yellow_tripdata_2017-12.csv
2020-06-03T17:05:50  - checking: yellow_tripdata_2018-01.csv
2020-06-03T17:05:50  - checking: yellow_tripdata_2018-02.csv
2020-06-03T17:05:50  - checking: yellow_tripdata_2018-03.csv
2020-06-03T17:05:50  - checking: yellow_tripdata_2018-04.csv
2020-06-03T17:05:50  - checking: yellow_tripdata_2018-05.csv
2020-06-03T17:05:50  - checking: yellow_tripdata_2018-06.csv
2020-06-03T17:05:50  - checking: yellow_tripdata_2018-07.csv
2020-06-03T17:05:50  - checking: yellow_tripdata_2018-08.csv
2020-06-03T17:05:50  - checking: yellow_tripdata_2018-09.csv
2020-06-03T17:05:50  - checking: yellow_tripdata_2018-10.csv
2020-06-03T17:05:50  - checking: yellow_tripdata_2018-11.csv
2020-06-03T17:05:50  - checking: yellow_tripdata_2018-12.csv
2020-06-03T17:05:50  - checking: yellow_tripdata_2019-01.csv
2020-06-03T17:05:50  - checking: yellow_tripdata_2019-02.csv
2020-06-03T17:05:51  - checking: yellow_tripdata_2019-03.csv
2020-06-03T17:05:51  - checking: yellow_tripdata_2019-04.csv
2020-06-03T17:05:51  - checking: yellow_tripdata_2019-05.csv
2020-06-03T17:05:51  - checking: yellow_tripdata_2019-06.csv
2020-06-03T17:05:51  - checking: yellow_tripdata_2019-07.csv
2020-06-03T17:05:51  - checking: yellow_tripdata_2019-08.csv
2020-06-03T17:05:51  - checking: yellow_tripdata_2019-09.csv
2020-06-03T17:05:51  - checking: yellow_tripdata_2019-10.csv
2020-06-03T17:05:51  - checking: yellow_tripdata_2019-11.csv
2020-06-03T17:05:51  - checking: yellow_tripdata_2019-12.csv
--------------------------------------------------
('./raw_data/taxi/yellow_tripdata_2009-01.csv', vendor_name               object
Trip_Pickup_DateTime      object
Trip_Dropoff_DateTime     object
Passenger_Count            int64
Trip_Distance            float64
Start_Lon                float64
Start_Lat                float64
Rate_Code                float64
store_and_forward        float64
End_Lon                  float64
End_Lat                  float64
Payment_Type              object
Fare_Amt                 float64
surcharge                float64
mta_tax                  float64
Tip_Amt                  float64
Tolls_Amt                float64
Total_Amt                float64
dtype: object)
('./raw_data/taxi\\yellow_tripdata_2010-01.csv', vendor_id              object
pickup_datetime        object
dropoff_datetime       object
passenger_count         int64
trip_distance         float64
pickup_longitude      float64
pickup_latitude       float64
rate_code               int64
store_and_fwd_flag    float64
dropoff_longitude     float64
dropoff_latitude      float64
payment_type           object
fare_amount           float64
surcharge             float64
mta_tax               float64
tip_amount            float64
tolls_amount          float64
total_amount          float64
dtype: object)
('./raw_data/taxi\\yellow_tripdata_2010-08.csv', vendor_id              object
pickup_datetime        object
dropoff_datetime       object
passenger_count         int64
trip_distance         float64
pickup_longitude      float64
pickup_latitude       float64
rate_code               int64
store_and_fwd_flag     object
dropoff_longitude     float64
dropoff_latitude      float64
payment_type           object
fare_amount           float64
surcharge             float64
mta_tax               float64
tip_amount            float64
tolls_amount          float64
total_amount          float64
dtype: object)
('./raw_data/taxi\\yellow_tripdata_2012-05.csv', vendor_id              object
pickup_datetime        object
dropoff_datetime       object
passenger_count         int64
trip_distance         float64
pickup_longitude      float64
pickup_latitude       float64
rate_code               int64
store_and_fwd_flag    float64
dropoff_longitude     float64
dropoff_latitude      float64
payment_type           object
fare_amount           float64
surcharge             float64
mta_tax               float64
tip_amount            float64
tolls_amount          float64
total_amount          float64
dtype: object)
('./raw_data/taxi\\yellow_tripdata_2012-06.csv', vendor_id              object
pickup_datetime        object
dropoff_datetime       object
passenger_count         int64
trip_distance         float64
pickup_longitude      float64
pickup_latitude       float64
rate_code               int64
store_and_fwd_flag     object
dropoff_longitude     float64
dropoff_latitude      float64
payment_type           object
fare_amount           float64
surcharge             float64
mta_tax               float64
tip_amount            float64
tolls_amount          float64
total_amount          float64
dtype: object)
('./raw_data/taxi\\yellow_tripdata_2012-09.csv', vendor_id              object
pickup_datetime        object
dropoff_datetime       object
passenger_count         int64
trip_distance         float64
pickup_longitude      float64
pickup_latitude       float64
rate_code               int64
store_and_fwd_flag    float64
dropoff_longitude     float64
dropoff_latitude      float64
payment_type           object
fare_amount           float64
surcharge             float64
mta_tax               float64
tip_amount            float64
tolls_amount          float64
total_amount          float64
dtype: object)
('./raw_data/taxi\\yellow_tripdata_2012-10.csv', vendor_id              object
pickup_datetime        object
dropoff_datetime       object
passenger_count         int64
trip_distance         float64
pickup_longitude      float64
pickup_latitude       float64
rate_code               int64
store_and_fwd_flag     object
dropoff_longitude     float64
dropoff_latitude      float64
payment_type           object
fare_amount           float64
surcharge             float64
mta_tax               float64
tip_amount            float64
tolls_amount          float64
total_amount          float64
dtype: object)
('./raw_data/taxi\\yellow_tripdata_2013-05.csv', vendor_id              object
pickup_datetime        object
dropoff_datetime       object
passenger_count         int64
trip_distance         float64
pickup_longitude      float64
pickup_latitude       float64
rate_code               int64
store_and_fwd_flag    float64
dropoff_longitude     float64
dropoff_latitude      float64
payment_type           object
fare_amount           float64
surcharge             float64
mta_tax               float64
tip_amount            float64
tolls_amount          float64
total_amount          float64
dtype: object)
('./raw_data/taxi\\yellow_tripdata_2013-06.csv', vendor_id              object
pickup_datetime        object
dropoff_datetime       object
passenger_count         int64
trip_distance         float64
pickup_longitude      float64
pickup_latitude       float64
rate_code               int64
store_and_fwd_flag     object
dropoff_longitude     float64
dropoff_latitude      float64
payment_type           object
fare_amount           float64
surcharge             float64
mta_tax               float64
tip_amount            float64
tolls_amount          float64
total_amount          float64
dtype: object)
('./raw_data/taxi\\yellow_tripdata_2014-01.csv', vendor_id               object
 pickup_datetime        object
 dropoff_datetime       object
 passenger_count         int64
 trip_distance         float64
 pickup_longitude      float64
 pickup_latitude       float64
 rate_code               int64
 store_and_fwd_flag     object
 dropoff_longitude     float64
 dropoff_latitude      float64
 payment_type           object
 fare_amount           float64
 surcharge             float64
 mta_tax               float64
 tip_amount            float64
 tolls_amount          float64
 total_amount          float64
dtype: object)
('./raw_data/taxi\\yellow_tripdata_2015-01.csv', VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
pickup_longitude         float64
pickup_latitude          float64
RateCodeID                 int64
store_and_fwd_flag        object
dropoff_longitude        float64
dropoff_latitude         float64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
dtype: object)
('./raw_data/taxi\\yellow_tripdata_2015-07.csv', VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
pickup_longitude         float64
pickup_latitude          float64
RatecodeID                 int64
store_and_fwd_flag        object
dropoff_longitude        float64
dropoff_latitude         float64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
dtype: object)
('./raw_data/taxi\\yellow_tripdata_2016-07.csv', VendorID                  object
tpep_pickup_datetime       int64
tpep_dropoff_datetime    float64
passenger_count            int64
trip_distance             object
RatecodeID                 int64
store_and_fwd_flag         int64
PULocationID               int64
DOLocationID             float64
payment_type             float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
dtype: object)
('./raw_data/taxi\\yellow_tripdata_2017-01.csv', VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
RatecodeID                 int64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
dtype: object)
('./raw_data/taxi\\yellow_tripdata_2019-01.csv', VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
RatecodeID                 int64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
dtype: object)

In [42]:
which_operator = 'yellow'
taxi_data_basepath = './raw_data/taxi/'
paths_list = list(sorted(glob(os.path.join(taxi_data_basepath, which_operator + '_tripdata_20*.csv'))))

last_path = paths_list[0]
list_of_headers = []
with open(last_path, 'r') as f:
    last_header = f.readline()
    no_of_cols_head = last_header.count(',')
    f.readline()  # skip empty line
    f.readline()  # skip empty line
    no_of_cols_data = f.readline().count(',')
    last_comp = f'header cols: {no_of_cols_head}, data cols: {no_of_cols_data}'
    list_of_headers.append((os.path.basename(last_path), last_header, last_comp))

for fp in sorted(glob(os.path.join(taxi_data_basepath, which_operator + '_tripdata_20*.csv'))):
    current_path = fp
    with open(current_path, 'r') as f:
        current_header = f.readline()
        no_of_cols_head = last_header.count(',')
        f.readline()  # skip empty line
        f.readline()  # skip empty line
        no_of_cols_data = f.readline().count(',')
        current_comp = f'header cols: {no_of_cols_head}, data cols: {no_of_cols_data}'
    if current_header != last_header or current_comp != last_comp:
        list_of_headers.append((os.path.basename(current_path), current_header, current_comp))
        last_path = current_path
        last_header = current_header
        last_comp = current_comp

print('--------------------------------------------------')

for s in list_of_headers:
    print(s[0])
    print(s[2])
    print(s[1])
    print()

--------------------------------------------------
yellow_tripdata_2009-01.csv
header cols: 17, data cols: 17
vendor_name,Trip_Pickup_DateTime,Trip_Dropoff_DateTime,Passenger_Count,Trip_Distance,Start_Lon,Start_Lat,Rate_Code,store_and_forward,End_Lon,End_Lat,Payment_Type,Fare_Amt,surcharge,mta_tax,Tip_Amt,Tolls_Amt,Total_Amt


yellow_tripdata_2010-01.csv
header cols: 17, data cols: 17
vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,rate_code,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount


yellow_tripdata_2014-01.csv
header cols: 17, data cols: 17
vendor_id, pickup_datetime, dropoff_datetime, passenger_count, trip_distance, pickup_longitude, pickup_latitude, rate_code, store_and_fwd_flag, dropoff_longitude, dropoff_latitude, payment_type, fare_amount, surcharge, mta_tax, tip_amount, tolls_amount, total_amount


yellow_tripdata_2015-01.csv
header cols: 17, data cols: 18
VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount


yellow_tripdata_2015-02.csv
header cols: 18, data cols: 18
VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount


yellow_tripdata_2015-07.csv
header cols: 18, data cols: 18
VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount


yellow_tripdata_2016-07.csv
header cols: 18, data cols: 18
VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount


yellow_tripdata_2016-08.csv
header cols: 16, data cols: 18
VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount


yellow_tripdata_2017-01.csv
header cols: 16, data cols: 16
VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount


yellow_tripdata_2019-01.csv
header cols: 16, data cols: 17
VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge


yellow_tripdata_2019-02.csv
header cols: 17, data cols: 17
VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge

In [37]:
import pandas as pd
import datetime
from glob import glob
import os


which_operator = 'green'
taxi_data_basepath = './raw_data/taxi/'
paths_list = list(sorted(glob(os.path.join(taxi_data_basepath, which_operator + '_tripdata_20*.csv'))))

last_path = paths_list[0]
df = pd.read_csv(last_path, nrows=10000)
last_schema = df.dtypes
list_of_schemas = [(os.path.basename(last_path), last_schema),]

for filepath in paths_list[1:]:
    print(datetime.datetime.now().isoformat(timespec='seconds'), ' - checking:', os.path.basename(filepath))
    temp = pd.read_csv(filepath, nrows=10000)
    current_path = filepath
    current_schema = temp.dtypes
    if not current_schema.equals(last_schema):
        list_of_schemas.append((os.path.basename(filepath), current_schema))
        last_path = current_path
        last_schema = current_schema

print('--------------------------------------------------')
        
for s in list_of_schemas:
    print(s)

2020-06-05T13:39:22  - checking: green_tripdata_2013-09.csv
2020-06-05T13:39:22  - checking: green_tripdata_2013-10.csv
2020-06-05T13:39:22  - checking: green_tripdata_2013-11.csv
2020-06-05T13:39:22  - checking: green_tripdata_2013-12.csv
2020-06-05T13:39:22  - checking: green_tripdata_2014-01.csv
2020-06-05T13:39:22  - checking: green_tripdata_2014-02.csv
2020-06-05T13:39:22  - checking: green_tripdata_2014-03.csv
2020-06-05T13:39:22  - checking: green_tripdata_2014-04.csv
2020-06-05T13:39:22  - checking: green_tripdata_2014-05.csv
2020-06-05T13:39:23  - checking: green_tripdata_2014-06.csv
2020-06-05T13:39:23  - checking: green_tripdata_2014-07.csv
2020-06-05T13:39:23  - checking: green_tripdata_2014-08.csv
2020-06-05T13:39:23  - checking: green_tripdata_2014-09.csv
2020-06-05T13:39:23  - checking: green_tripdata_2014-10.csv
2020-06-05T13:39:23  - checking: green_tripdata_2014-11.csv
2020-06-05T13:39:23  - checking: green_tripdata_2014-12.csv
2020-06-05T13:39:23  - checking: green_tripdata_2015-01.csv
2020-06-05T13:39:23  - checking: green_tripdata_2015-02.csv
2020-06-05T13:39:23  - checking: green_tripdata_2015-03.csv
2020-06-05T13:39:23  - checking: green_tripdata_2015-04.csv
2020-06-05T13:39:24  - checking: green_tripdata_2015-05.csv
2020-06-05T13:39:24  - checking: green_tripdata_2015-06.csv
2020-06-05T13:39:24  - checking: green_tripdata_2015-07.csv
2020-06-05T13:39:24  - checking: green_tripdata_2015-08.csv
2020-06-05T13:39:24  - checking: green_tripdata_2015-09.csv
2020-06-05T13:39:24  - checking: green_tripdata_2015-10.csv
2020-06-05T13:39:24  - checking: green_tripdata_2015-11.csv
2020-06-05T13:39:24  - checking: green_tripdata_2015-12.csv
2020-06-05T13:39:24  - checking: green_tripdata_2016-01.csv
2020-06-05T13:39:24  - checking: green_tripdata_2016-02.csv
2020-06-05T13:39:24  - checking: green_tripdata_2016-03.csv
2020-06-05T13:39:24  - checking: green_tripdata_2016-04.csv
2020-06-05T13:39:24  - checking: green_tripdata_2016-05.csv
2020-06-05T13:39:25  - checking: green_tripdata_2016-06.csv
2020-06-05T13:39:25  - checking: green_tripdata_2016-07.csv
2020-06-05T13:39:25  - checking: green_tripdata_2016-08.csv
2020-06-05T13:39:25  - checking: green_tripdata_2016-09.csv
2020-06-05T13:39:25  - checking: green_tripdata_2016-10.csv
2020-06-05T13:39:25  - checking: green_tripdata_2016-11.csv
2020-06-05T13:39:25  - checking: green_tripdata_2016-12.csv
2020-06-05T13:39:25  - checking: green_tripdata_2017-01.csv
2020-06-05T13:39:25  - checking: green_tripdata_2017-02.csv
2020-06-05T13:39:25  - checking: green_tripdata_2017-03.csv
2020-06-05T13:39:25  - checking: green_tripdata_2017-04.csv
2020-06-05T13:39:25  - checking: green_tripdata_2017-05.csv
2020-06-05T13:39:25  - checking: green_tripdata_2017-06.csv
2020-06-05T13:39:25  - checking: green_tripdata_2017-07.csv
2020-06-05T13:39:26  - checking: green_tripdata_2017-08.csv
2020-06-05T13:39:26  - checking: green_tripdata_2017-09.csv
2020-06-05T13:39:26  - checking: green_tripdata_2017-10.csv
2020-06-05T13:39:26  - checking: green_tripdata_2017-11.csv
2020-06-05T13:39:26  - checking: green_tripdata_2017-12.csv
2020-06-05T13:39:26  - checking: green_tripdata_2018-01.csv
2020-06-05T13:39:26  - checking: green_tripdata_2018-02.csv
2020-06-05T13:39:26  - checking: green_tripdata_2018-03.csv
2020-06-05T13:39:26  - checking: green_tripdata_2018-04.csv
2020-06-05T13:39:26  - checking: green_tripdata_2018-05.csv
2020-06-05T13:39:26  - checking: green_tripdata_2018-06.csv
2020-06-05T13:39:26  - checking: green_tripdata_2018-07.csv
2020-06-05T13:39:26  - checking: green_tripdata_2018-08.csv
2020-06-05T13:39:26  - checking: green_tripdata_2018-09.csv
2020-06-05T13:39:26  - checking: green_tripdata_2018-10.csv
2020-06-05T13:39:26  - checking: green_tripdata_2018-11.csv
2020-06-05T13:39:26  - checking: green_tripdata_2018-12.csv
2020-06-05T13:39:27  - checking: green_tripdata_2019-01.csv
2020-06-05T13:39:27  - checking: green_tripdata_2019-02.csv
2020-06-05T13:39:27  - checking: green_tripdata_2019-03.csv
2020-06-05T13:39:27  - checking: green_tripdata_2019-04.csv
2020-06-05T13:39:27  - checking: green_tripdata_2019-05.csv
2020-06-05T13:39:27  - checking: green_tripdata_2019-06.csv
2020-06-05T13:39:27  - checking: green_tripdata_2019-07.csv
2020-06-05T13:39:27  - checking: green_tripdata_2019-08.csv
2020-06-05T13:39:27  - checking: green_tripdata_2019-09.csv
2020-06-05T13:39:27  - checking: green_tripdata_2019-10.csv
2020-06-05T13:39:27  - checking: green_tripdata_2019-11.csv
2020-06-05T13:39:27  - checking: green_tripdata_2019-12.csv
--------------------------------------------------
('green_tripdata_2013-08.csv', VendorID                  object
lpep_pickup_datetime      object
Lpep_dropoff_datetime      int64
Store_and_fwd_flag       float64
RateCodeID               float64
Pickup_longitude         float64
Pickup_latitude          float64
Dropoff_longitude          int64
Dropoff_latitude         float64
Passenger_count          float64
Trip_distance            float64
Fare_amount              float64
Extra                    float64
MTA_tax                  float64
Tip_amount               float64
Tolls_amount             float64
Ehail_fee                  int64
Total_amount             float64
Payment_type             float64
Trip_type                float64
dtype: object)
('green_tripdata_2014-05.csv', VendorID                  object
lpep_pickup_datetime      object
Lpep_dropoff_datetime      int64
Store_and_fwd_flag       float64
RateCodeID               float64
Pickup_longitude         float64
Pickup_latitude          float64
Dropoff_longitude          int64
Dropoff_latitude         float64
Passenger_count          float64
Trip_distance            float64
Fare_amount              float64
Extra                    float64
MTA_tax                  float64
Tip_amount               float64
Tolls_amount             float64
Ehail_fee                  int64
Total_amount               int64
Payment_type             float64
Trip_type                float64
dtype: object)
('green_tripdata_2015-01.csv', VendorID                  object
lpep_pickup_datetime      object
Lpep_dropoff_datetime      int64
Store_and_fwd_flag       float64
RateCodeID               float64
Pickup_longitude         float64
Pickup_latitude          float64
Dropoff_longitude          int64
Dropoff_latitude         float64
Passenger_count          float64
Trip_distance            float64
Fare_amount              float64
Extra                    float64
MTA_tax                  float64
Tip_amount               float64
Tolls_amount             float64
Ehail_fee                float64
improvement_surcharge      int64
Total_amount               int64
Payment_type             float64
Trip_type                float64
dtype: object)
('green_tripdata_2015-07.csv', VendorID                   int64
lpep_pickup_datetime      object
Lpep_dropoff_datetime     object
Store_and_fwd_flag        object
RateCodeID                 int64
Pickup_longitude         float64
Pickup_latitude          float64
Dropoff_longitude        float64
Dropoff_latitude         float64
Passenger_count            int64
Trip_distance            float64
Fare_amount              float64
Extra                    float64
MTA_tax                  float64
Tip_amount               float64
Tolls_amount             float64
Ehail_fee                float64
improvement_surcharge    float64
Total_amount             float64
Payment_type               int64
Trip_type                  int64
dtype: object)
('green_tripdata_2016-07.csv', VendorID                  object
lpep_pickup_datetime      object
lpep_dropoff_datetime      int64
store_and_fwd_flag         int64
RatecodeID                 int64
PULocationID               int64
DOLocationID             float64
passenger_count          float64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
ehail_fee                float64
improvement_surcharge      int64
total_amount               int64
payment_type             float64
trip_type                float64
dtype: object)
('green_tripdata_2017-01.csv', VendorID                   int64
lpep_pickup_datetime      object
lpep_dropoff_datetime     object
store_and_fwd_flag        object
RatecodeID                 int64
PULocationID               int64
DOLocationID               int64
passenger_count            int64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
ehail_fee                float64
improvement_surcharge    float64
total_amount             float64
payment_type               int64
trip_type                  int64
dtype: object)
('green_tripdata_2019-01.csv', VendorID                   int64
lpep_pickup_datetime      object
lpep_dropoff_datetime     object
store_and_fwd_flag        object
RatecodeID                 int64
PULocationID               int64
DOLocationID               int64
passenger_count            int64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
ehail_fee                float64
improvement_surcharge    float64
total_amount             float64
payment_type               int64
trip_type                  int64
congestion_surcharge     float64
dtype: object)
('green_tripdata_2019-02.csv', VendorID                   int64
lpep_pickup_datetime      object
lpep_dropoff_datetime     object
store_and_fwd_flag        object
RatecodeID                 int64
PULocationID               int64
DOLocationID               int64
passenger_count            int64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
ehail_fee                float64
improvement_surcharge    float64
total_amount             float64
payment_type               int64
trip_type                  int64
congestion_surcharge       int64
dtype: object)
('green_tripdata_2019-03.csv', VendorID                   int64
lpep_pickup_datetime      object
lpep_dropoff_datetime     object
store_and_fwd_flag        object
RatecodeID                 int64
PULocationID               int64
DOLocationID               int64
passenger_count            int64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
ehail_fee                float64
improvement_surcharge    float64
total_amount             float64
payment_type               int64
trip_type                  int64
congestion_surcharge     float64
dtype: object)
('green_tripdata_2019-07.csv', VendorID                   int64
lpep_pickup_datetime      object
lpep_dropoff_datetime     object
store_and_fwd_flag        object
RatecodeID                 int64
PULocationID               int64
DOLocationID               int64
passenger_count            int64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
ehail_fee                float64
improvement_surcharge    float64
total_amount             float64
payment_type               int64
trip_type                float64
congestion_surcharge     float64
dtype: object)
('green_tripdata_2019-08.csv', VendorID                   int64
lpep_pickup_datetime      object
lpep_dropoff_datetime     object
store_and_fwd_flag        object
RatecodeID                 int64
PULocationID               int64
DOLocationID               int64
passenger_count            int64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
ehail_fee                float64
improvement_surcharge    float64
total_amount             float64
payment_type               int64
trip_type                  int64
congestion_surcharge     float64
dtype: object)

In [10]:
import pandas as pd
import datetime
from glob import glob
import os


taxi_data_basepath = './raw_data/taxi/'
values = set()

for filepath in sorted(glob(os.path.join(taxi_data_basepath, 'yellow_tripdata_20*.csv'))):
    print(datetime.datetime.now().isoformat(timespec='seconds'), ' - checking:', os.path.basename(filepath))
    df = pd.read_csv(filepath, usecols=lambda x: x.lower().strip() == 'payment_type', squeeze=True)
    values.update(df.unique())
print(values)

2020-06-03T20:38:42  - checking: yellow_tripdata_2009-01.csv
2020-06-03T20:39:07  - checking: yellow_tripdata_2009-02.csv
2020-06-03T20:39:31  - checking: yellow_tripdata_2009-03.csv
2020-06-03T20:39:56  - checking: yellow_tripdata_2009-04.csv
2020-06-03T20:40:22  - checking: yellow_tripdata_2009-05.csv
2020-06-03T20:40:48  - checking: yellow_tripdata_2009-06.csv
2020-06-03T20:41:13  - checking: yellow_tripdata_2009-07.csv
2020-06-03T20:41:37  - checking: yellow_tripdata_2009-08.csv
2020-06-03T20:42:01  - checking: yellow_tripdata_2009-09.csv
2020-06-03T20:42:26  - checking: yellow_tripdata_2009-10.csv
2020-06-03T20:42:54  - checking: yellow_tripdata_2009-11.csv
2020-06-03T20:43:20  - checking: yellow_tripdata_2009-12.csv
2020-06-03T20:43:46  - checking: yellow_tripdata_2010-01.csv
2020-06-03T20:44:12  - checking: yellow_tripdata_2010-02.csv
2020-06-03T20:44:32  - checking: yellow_tripdata_2010-03.csv
2020-06-03T20:44:56  - checking: yellow_tripdata_2010-04.csv
2020-06-03T20:45:22  - checking: yellow_tripdata_2010-05.csv
2020-06-03T20:45:50  - checking: yellow_tripdata_2010-06.csv
2020-06-03T20:46:16  - checking: yellow_tripdata_2010-07.csv
2020-06-03T20:46:42  - checking: yellow_tripdata_2010-08.csv
2020-06-03T20:47:05  - checking: yellow_tripdata_2010-09.csv
2020-06-03T20:47:33  - checking: yellow_tripdata_2010-10.csv
2020-06-03T20:47:58  - checking: yellow_tripdata_2010-11.csv
2020-06-03T20:48:23  - checking: yellow_tripdata_2010-12.csv
2020-06-03T20:48:48  - checking: yellow_tripdata_2011-01.csv
2020-06-03T20:49:13  - checking: yellow_tripdata_2011-02.csv
2020-06-03T20:49:38  - checking: yellow_tripdata_2011-03.csv
2020-06-03T20:50:07  - checking: yellow_tripdata_2011-04.csv
2020-06-03T20:50:33  - checking: yellow_tripdata_2011-05.csv
2020-06-03T20:51:02  - checking: yellow_tripdata_2011-06.csv
2020-06-03T20:51:29  - checking: yellow_tripdata_2011-07.csv
2020-06-03T20:51:55  - checking: yellow_tripdata_2011-08.csv
2020-06-03T20:52:20  - checking: yellow_tripdata_2011-09.csv
2020-06-03T20:52:46  - checking: yellow_tripdata_2011-10.csv
2020-06-03T20:53:13  - checking: yellow_tripdata_2011-11.csv
2020-06-03T20:53:27  - checking: yellow_tripdata_2011-12.csv
2020-06-03T20:53:42  - checking: yellow_tripdata_2012-01.csv
2020-06-03T20:53:56  - checking: yellow_tripdata_2012-02.csv
2020-06-03T20:54:11  - checking: yellow_tripdata_2012-03.csv
2020-06-03T20:54:27  - checking: yellow_tripdata_2012-04.csv
2020-06-03T20:54:42  - checking: yellow_tripdata_2012-05.csv
2020-06-03T20:54:57  - checking: yellow_tripdata_2012-06.csv
2020-06-03T20:55:11  - checking: yellow_tripdata_2012-07.csv
2020-06-03T20:55:25  - checking: yellow_tripdata_2012-08.csv
2020-06-03T20:55:39  - checking: yellow_tripdata_2012-09.csv
2020-06-03T20:55:52  - checking: yellow_tripdata_2012-10.csv
2020-06-03T20:56:05  - checking: yellow_tripdata_2012-11.csv
2020-06-03T20:56:17  - checking: yellow_tripdata_2012-12.csv
2020-06-03T20:56:31  - checking: yellow_tripdata_2013-01.csv
2020-06-03T20:56:44  - checking: yellow_tripdata_2013-02.csv
2020-06-03T20:56:57  - checking: yellow_tripdata_2013-03.csv
2020-06-03T20:57:11  - checking: yellow_tripdata_2013-04.csv
2020-06-03T20:57:24  - checking: yellow_tripdata_2013-05.csv
2020-06-03T20:57:38  - checking: yellow_tripdata_2013-06.csv
2020-06-03T20:57:51  - checking: yellow_tripdata_2013-07.csv
2020-06-03T20:58:04  - checking: yellow_tripdata_2013-08.csv
2020-06-03T20:58:16  - checking: yellow_tripdata_2013-09.csv
2020-06-03T20:58:29  - checking: yellow_tripdata_2013-10.csv
2020-06-03T20:58:43  - checking: yellow_tripdata_2013-11.csv
2020-06-03T20:58:56  - checking: yellow_tripdata_2013-12.csv
2020-06-03T20:59:08  - checking: yellow_tripdata_2014-01.csv
2020-06-03T20:59:21  - checking: yellow_tripdata_2014-02.csv
2020-06-03T20:59:33  - checking: yellow_tripdata_2014-03.csv
2020-06-03T20:59:48  - checking: yellow_tripdata_2014-04.csv
2020-06-03T21:00:01  - checking: yellow_tripdata_2014-05.csv
2020-06-03T21:00:14  - checking: yellow_tripdata_2014-06.csv
2020-06-03T21:00:27  - checking: yellow_tripdata_2014-07.csv
2020-06-03T21:00:39  - checking: yellow_tripdata_2014-08.csv
2020-06-03T21:00:50  - checking: yellow_tripdata_2014-09.csv
2020-06-03T21:01:03  - checking: yellow_tripdata_2014-10.csv
2020-06-03T21:01:15  - checking: yellow_tripdata_2014-11.csv
2020-06-03T21:01:27  - checking: yellow_tripdata_2014-12.csv
2020-06-03T21:01:39  - checking: yellow_tripdata_2015-01.csv
2020-06-03T21:01:49  - checking: yellow_tripdata_2015-02.csv
2020-06-03T21:02:00  - checking: yellow_tripdata_2015-03.csv
2020-06-03T21:02:11  - checking: yellow_tripdata_2015-04.csv
2020-06-03T21:02:22  - checking: yellow_tripdata_2015-05.csv
2020-06-03T21:02:33  - checking: yellow_tripdata_2015-06.csv
2020-06-03T21:02:43  - checking: yellow_tripdata_2015-07.csv
2020-06-03T21:02:53  - checking: yellow_tripdata_2015-08.csv
2020-06-03T21:03:02  - checking: yellow_tripdata_2015-09.csv
2020-06-03T21:03:12  - checking: yellow_tripdata_2015-10.csv
2020-06-03T21:03:22  - checking: yellow_tripdata_2015-11.csv
2020-06-03T21:03:31  - checking: yellow_tripdata_2015-12.csv
2020-06-03T21:03:41  - checking: yellow_tripdata_2016-01.csv
2020-06-03T21:03:50  - checking: yellow_tripdata_2016-02.csv
2020-06-03T21:03:59  - checking: yellow_tripdata_2016-03.csv
2020-06-03T21:04:09  - checking: yellow_tripdata_2016-04.csv
2020-06-03T21:04:19  - checking: yellow_tripdata_2016-05.csv
2020-06-03T21:04:29  - checking: yellow_tripdata_2016-06.csv
2020-06-03T21:04:38  - checking: yellow_tripdata_2016-07.csv
2020-06-03T21:04:50  - checking: yellow_tripdata_2016-08.csv
2020-06-03T21:05:01  - checking: yellow_tripdata_2016-09.csv
2020-06-03T21:05:12  - checking: yellow_tripdata_2016-10.csv
2020-06-03T21:05:27  - checking: yellow_tripdata_2016-11.csv
2020-06-03T21:05:40  - checking: yellow_tripdata_2016-12.csv
2020-06-03T21:05:54  - checking: yellow_tripdata_2017-01.csv
2020-06-03T21:06:02  - checking: yellow_tripdata_2017-02.csv
2020-06-03T21:06:10  - checking: yellow_tripdata_2017-03.csv
2020-06-03T21:06:19  - checking: yellow_tripdata_2017-04.csv
2020-06-03T21:06:27  - checking: yellow_tripdata_2017-05.csv
2020-06-03T21:06:36  - checking: yellow_tripdata_2017-06.csv
2020-06-03T21:06:44  - checking: yellow_tripdata_2017-07.csv
2020-06-03T21:06:51  - checking: yellow_tripdata_2017-08.csv
2020-06-03T21:06:58  - checking: yellow_tripdata_2017-09.csv
2020-06-03T21:07:05  - checking: yellow_tripdata_2017-10.csv
2020-06-03T21:07:13  - checking: yellow_tripdata_2017-11.csv
2020-06-03T21:07:21  - checking: yellow_tripdata_2017-12.csv
2020-06-03T21:07:29  - checking: yellow_tripdata_2018-01.csv
2020-06-03T21:07:36  - checking: yellow_tripdata_2018-02.csv
2020-06-03T21:07:43  - checking: yellow_tripdata_2018-03.csv
2020-06-03T21:07:51  - checking: yellow_tripdata_2018-04.csv
2020-06-03T21:07:59  - checking: yellow_tripdata_2018-05.csv
2020-06-03T21:08:07  - checking: yellow_tripdata_2018-06.csv
2020-06-03T21:08:14  - checking: yellow_tripdata_2018-07.csv
2020-06-03T21:08:20  - checking: yellow_tripdata_2018-08.csv
2020-06-03T21:08:27  - checking: yellow_tripdata_2018-09.csv
2020-06-03T21:08:34  - checking: yellow_tripdata_2018-10.csv
2020-06-03T21:08:41  - checking: yellow_tripdata_2018-11.csv
2020-06-03T21:08:48  - checking: yellow_tripdata_2018-12.csv
2020-06-03T21:08:54  - checking: yellow_tripdata_2019-01.csv
2020-06-03T21:09:01  - checking: yellow_tripdata_2019-02.csv
2020-06-03T21:09:07  - checking: yellow_tripdata_2019-03.csv
2020-06-03T21:09:14  - checking: yellow_tripdata_2019-04.csv
2020-06-03T21:09:21  - checking: yellow_tripdata_2019-05.csv
2020-06-03T21:09:27  - checking: yellow_tripdata_2019-06.csv
2020-06-03T21:09:34  - checking: yellow_tripdata_2019-07.csv
2020-06-03T21:09:39  - checking: yellow_tripdata_2019-08.csv
2020-06-03T21:09:44  - checking: yellow_tripdata_2019-09.csv
2020-06-03T21:09:50  - checking: yellow_tripdata_2019-10.csv
2020-06-03T21:09:56  - checking: yellow_tripdata_2019-11.csv
2020-06-03T21:10:02  - checking: yellow_tripdata_2019-12.csv
{0.0, 1, 2, 3, 4, 5, 0.5, -0.5, 1.5, 4.5, 5.5, 2.5, 6.5, 8.5, 0.25, 8.0, 'DIS', 17.5, 18.0, 18.5, 'Dispute', 21.5, -0.01, 3.5, 21.0, 25.6, 20.2, 27.0, nan, nan, 33.15, nan, nan, 'No ', 37.15, nan, nan, 'CRD', 9.0, 9.25, 46.58, 10.0, 55.54, 55.41, 59.91, 61.68, 62.04, 12.0, -0.03, 'CSH', 69.8, 592.87, 80.0, 4.54, 6.04, 97.0, 1.4, 1.9, 'NOC', 'Dis', 0.2, 0.45, 652.8, 9.58, 12.15, 0.8, -0.7, 4.3, 1.3, 1.8, 5.12, 1.23, -0.35, 257.0, 'UNK', 0.9, 'CRE', 0.6, 0.4, -0.4, 'No Charge', 0.11, 'CASH', 9.3, 0.95, 0.7, 1.2, 1.45, 'CREDIT', 0.1, 14.09, 2.2, 'NA ', 16.94, 'Credit', 2.56, 0.99, 0.3, -0.44, 0.32, -0.45, 0.31, -0.2, 406.26, 0.05, 1.6, 0.04, 'Cre', 10.24, 'Cas', 0.03, -54.58, -52.19, 0.02, -40.5, -37.61, -37.0, -35.6, -32.51, 7.71, -26.2, -26.63, -24.5, -23.6, 'CAS', 0.01, -20.0, -14.5, -10.0, -1.0, -8.2, -6.0, 'Cash', -4.5, -2.71}

In [16]:
import pandas as pd
df = pd.read_csv('./raw_data/taxi/yellow_tripdata_2016-07.csv', nrows=1000, )
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,junk1,junk2
0,1,2016-07-10 06:56:05,2016-07-10 06:59:53,1,0.50,1,N,263,236,1,4.5,1.0,0.5,2.70,0.0,0.3,9.00,NaN,NaN
1,2,2016-07-10 10:50:18,2016-07-10 10:55:21,5,1.34,1,N,142,163,1,6.0,0.0,0.5,1.36,0.0,0.3,8.16,NaN,NaN
2,2,2016-07-10 10:50:18,2016-07-10 11:08:38,1,9.48,1,N,74,66,1,27.0,0.0,0.5,0.00,0.0,0.3,27.80,NaN,NaN
3,1,2016-07-10 10:50:19,2016-07-10 10:55:14,1,1.00,1,N,264,264,2,5.5,0.0,0.5,0.00,0.0,0.3,6.30,NaN,NaN
4,1,2016-07-10 10:50:19,2016-07-10 10:55:47,1,0.90,1,N,48,68,2,5.5,0.0,0.5,0.00,0.0,0.3,6.30,NaN,NaN

In [6]:
df.columns

Index(['vendor_id', ' pickup_datetime', ' dropoff_datetime',
       ' passenger_count', ' trip_distance', ' pickup_longitude',
       ' pickup_latitude', ' rate_code', ' store_and_fwd_flag',
       ' dropoff_longitude', ' dropoff_latitude', ' payment_type',
       ' fare_amount', ' surcharge', ' mta_tax', ' tip_amount',
       ' tolls_amount', ' total_amount'],
      dtype='object')

In [22]:
import pandas as pd
import numpy as np
from glob import glob
import os

from helper_objects import yellow_taxi_params, green_taxi_params, store_and_fwd_flag_mapping_function, payment_type_mapping_function, _lower_strip, column_mapping_function, trip_type_mapping_function

taxi_data_basepath = './raw_data/taxi/'
taxi_processed_basepath = './processed_data/taxi/'


def _get_yellow_taxi_params(filename: str) -> dict:
    for k in yellow_taxi_params.keys():
        if filename <= k:
            return yellow_taxi_params[k]

def _get_green_taxi_params(filename: str) -> dict:
    for k in green_taxi_params.keys():
        if filename <= k:
            return green_taxi_params[k]


def process_taxi_data(df: pd.DataFrame, params, company, **kwargs):
    df.rename(columns=column_mapping_function, inplace=True)
    
    if params['location'] == 'coordinates':
        # remove rows where any of the coordinates is 0
        df = df[(df['pickup_longitude'] != 0) & (df['pickup_latitude'] != 0) & (df['dropoff_longitude'] != 0) & (df['dropoff_latitude'] != 0)]
    
    # remove taxi rides ignoring laws of physics (going back in time)
    df = df[df['pickup_datetime'] < df['dropoff_datetime']]
    
    # money or distance or passengers shouldn't be less than zero (nulls are ok)
    df = df[df['trip_distance'].fillna(0) >= 0]
    df = df[df['total_amount'].fillna(0) >= 0]
    df = df[df['passenger_count'].fillna(0) >= 0]
    
    # we could compare reported distance with pickup and dropoff locations but that's kinda too much work
    
    df['store_and_forward'] = df['store_and_forward'].apply(store_and_fwd_flag_mapping_function).astype(np.float16)
    df['payment_type'] = df['payment_type'].apply(payment_type_mapping_function)
    # change tip amount to null for cash transactions (better to have nulls for unknown values than zeroes)
    df['tip_amount'].mask(df['payment_type'] == 'cash', np.nan, inplace=True)
    # assign company name
    df['company'] = company
    # add trip duration
    df['trip_duration_minutes'] = df['dropoff_datetime'] - df['pickup_datetime']
    df['trip_duration_minutes'] = df['trip_duration_minutes'].dt.seconds / 60
    df['trip_duration_minutes'] = df['trip_duration_minutes'].astype(np.float32)
    # add date related fields for easier querying
    df['year'] = pd.DatetimeIndex(df['pickup_datetime']).year
    df['year'] = df['year'].astype(np.int16)
#     df['year_quarter'] = pd.DatetimeIndex(df['pickup_datetime']).year.astype(str) + 'Q' + pd.DatetimeIndex(df['pickup_datetime']).quarter.astype(str)
#     df['year_month'] = pd.DatetimeIndex(df['pickup_datetime']).strftime('%Y-%m')
#     df['quarter'] = df['year'] = pd.DatetimeIndex(df['pickup_datetime']).quarter
#     df['month'] = df['year'] = pd.DatetimeIndex(df['pickup_datetime']).month
#     df['date'] = df['year'] = pd.DatetimeIndex(df['pickup_datetime']).date
#     df['day_of_week'] = pd.DatetimeIndex(df['pickup_datetime']).weekday + 1

    if 'trip_type' not in df.columns:
        df['trip_type'] = np.nan
    else:
        df['trip_type'] = df['trip_type'].apply(trip_type_mapping_function)


    if params['location'] == 'id':
        ldf = pd.read_csv('./lookup/taxi+_zone_lookup.csv', index_col='LocationID', usecols=['LocationID', 'Borough', 'Zone'])
        pickup_column_names = {'Borough': 'pickup_borough', 'Zone': 'pickup_zone', 'LocationID': 'pickup_location_id'}
        dropoff_column_names = {'Borough': 'dropoff_borough', 'Zone': 'dropoff_zone', 'LocationID': 'dropoff_location_id'}
        
        df = df.merge(
            ldf.rename(columns=pickup_column_names), 
            how='left', 
            left_on='pickup_location_id', right_index=True)
        df = df.merge(
            ldf.rename(columns=dropoff_column_names), 
            how='left', 
            left_on='dropoff_location_id', right_index=True)
        df['pickup_location_id'] = df['pickup_location_id'].astype(np.float32)
        df['dropoff_location_id'] = df['dropoff_location_id'].astype(np.float32)

    elif params['location'] == 'coordinates':
        
        import geopandas as gpd
        
        gdf = gpd.read_file('./lookup/taxi_zones.shp')
        gdf.drop(columns=['OBJECTID', 'Shape_Leng', 'Shape_Area'], inplace=True)
        gdf.to_crs('EPSG:4326', inplace=True)  # reproject to common Coordinate Reference System
        pickup_column_names = {'borough': 'pickup_borough', 'zone': 'pickup_zone', 'LocationID': 'pickup_location_id'}
        dropoff_column_names = {'borough': 'dropoff_borough', 'zone': 'dropoff_zone', 'LocationID': 'dropoff_location_id'}
        
        temp_pickup_gdf = gpd.GeoDataFrame(
            geometry=gpd.points_from_xy(
                x=df['pickup_longitude'], 
                y=df['pickup_latitude']),
            crs='EPSG:4326')
        temp_dropoff_gdf = gpd.GeoDataFrame(
            geometry=gpd.points_from_xy(
                x=df['dropoff_longitude'], 
                y=df['dropoff_latitude']),
            crs='EPSG:4326')
        temp_pickup_gdf = gpd.sjoin(
            left_df=temp_pickup_gdf,
            right_df=gdf, 
            how='left')[['borough', 'zone', 'LocationID']]
        temp_dropoff_gdf = gpd.sjoin(
            left_df=temp_dropoff_gdf,
            right_df=gdf, 
            how='left')[['borough', 'zone', 'LocationID']]
        df = df.merge(
            temp_pickup_gdf.rename(columns=pickup_column_names), 
            how='left', 
            left_index=True, right_index=True)
        df = df.merge(
            temp_dropoff_gdf.rename(columns=dropoff_column_names), 
            how='left', 
            left_index=True, right_index=True)
        df.drop(columns=[name for name in df.columns if 'longitude' in name or 'latitude' in name], inplace=True)
        df['pickup_location_id'] = df['pickup_location_id'].astype(np.float32)
        df['dropoff_location_id'] = df['dropoff_location_id'].astype(np.float32)
    
    # change timestamps to string for better compatibility
    df['pickup_datetime'] = pd.DatetimeIndex(df['pickup_datetime']).strftime('%Y-%m-%d %H:%M:%S')
    df['dropoff_datetime'] = pd.DatetimeIndex(df['dropoff_datetime']).strftime('%Y-%m-%d %H:%M:%S')
    
    return df


def _process_yellow_taxi_data(filepath: str, **kwargs):
    filename = os.path.basename(filepath)
    params = _get_yellow_taxi_params(filename)
    
    df = pd.read_csv(filepath, **params['csv_params'], **kwargs)
    return process_taxi_data(df, params=params, company='yellow', **kwargs)


def _process_green_taxi_data(filepath: str, **kwargs):
    filename = os.path.basename(filepath)
    params = _get_green_taxi_params(filename)
    
    df = pd.read_csv(filepath, **params['csv_params'], **kwargs)
    return process_taxi_data(df, params=params, company='green', **kwargs)


def yellow_taxi_paths(folder: str) -> list:
    return glob(os.path.join(folder, 'yellow_tripdata*'))

def green_taxi_paths(folder: str) -> list:
    return glob(os.path.join(folder, 'green_tripdata*'))

In [2]:
pd.read_csv(os.path.join(taxi_data_basepath, 'green_tripdata_2015-07.csv'), nrows=5).columns

Index(['VendorID', 'lpep_pickup_datetime', 'Lpep_dropoff_datetime',
       'Store_and_fwd_flag', 'RateCodeID', 'Pickup_longitude',
       'Pickup_latitude', 'Dropoff_longitude', 'Dropoff_latitude',
       'Passenger_count', 'Trip_distance', 'Fare_amount', 'Extra', 'MTA_tax',
       'Tip_amount', 'Tolls_amount', 'Ehail_fee', 'improvement_surcharge',
       'Total_amount', 'Payment_type', 'Trip_type '],
      dtype='object')

In [3]:
_get_green_taxi_params('green_tripdata_2015-07.csv')

green_tripdata_2015-07.csv green_tripdata_2016-06.csv

{'csv_params': {'parse_dates': ['lpep_pickup_datetime',
   'Lpep_dropoff_datetime'],
  'infer_datetime_format': True,
  'skipinitialspace': True,
  'usecols': ['lpep_pickup_datetime',
   'Lpep_dropoff_datetime',
   'Passenger_count',
   'Trip_distance',
   'Store_and_fwd_flag',
   'Pickup_longitude',
   'Pickup_latitude',
   'Dropoff_longitude',
   'Dropoff_latitude',
   'Payment_type',
   'Fare_amount',
   'Tip_amount',
   'Total_amount',
   'Trip_type '],
  'dtype': {'Store_and_fwd_flag': 'object',
   'Passenger_count': 'uint8',
   'Trip_distance': 'float32',
   'Fare_amount': 'float32',
   'Tip_amount': 'float32',
   'Total_amount': 'float32'}},
 'location': 'coordinates'}

In [24]:
_process_green_taxi_data(os.path.join(taxi_data_basepath, 'green_tripdata_2019-12.csv'), nrows=5)

,pickup_datetime,dropoff_datetime,store_and_forward,pickup_location_id,dropoff_location_id,passenger_count,trip_distance,fare_amount,tip_amount,total_amount,payment_type,trip_type,company,trip_duration_minutes,year,pickup_borough,pickup_zone,dropoff_borough,dropoff_zone
0,2019-12-01 00:09:45,2019-12-01 00:10:59,0.0,145.0,145.0,1.0,0.00,3.0,NaN,4.30,cash,Street-hail,green,1.233333,2019,Queens,Long Island City/Hunters Point,Queens,Long Island City/Hunters Point
1,2019-12-01 00:26:05,2019-12-01 00:31:30,0.0,24.0,41.0,1.0,0.67,5.5,2.04,8.84,credit card,Street-hail,green,5.416667,2019,Manhattan,Bloomingdale,Manhattan,Central Harlem
2,2019-12-01 00:56:36,2019-12-01 00:59:38,0.0,74.0,41.0,1.0,0.61,4.5,NaN,5.80,cash,Street-hail,green,3.033333,2019,Manhattan,East Harlem North,Manhattan,Central Harlem
3,2019-12-01 00:26:20,2019-12-01 00:40:19,0.0,255.0,157.0,1.0,3.90,14.0,NaN,15.30,cash,Street-hail,green,13.983334,2019,Brooklyn,Williamsburg (North Side),Queens,Maspeth
4,2019-12-01 00:56:36,2019-12-01 00:59:56,0.0,80.0,255.0,1.0,0.50,4.5,NaN,5.80,cash,Street-hail,green,3.333333,2019,Brooklyn,East Williamsburg,Brooklyn,Williamsburg (North Side)

In [18]:
_process_yellow_taxi_data(os.path.join(taxi_data_basepath, 'yellow_tripdata_2019-12.csv'), nrows=5)

,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,store_and_forward,pickup_location_id,dropoff_location_id,payment_type,fare_amount,tip_amount,total_amount,company,trip_duration_minutes,year,trip_type,pickup_borough,pickup_zone,dropoff_borough,dropoff_zone
0,2019-12-01 00:26:58,2019-12-01 00:41:45,1,4.2,0.0,142.0,116.0,cash,14.5,NaN,18.299999,yellow,14.783334,2019,NaN,Manhattan,Lincoln Square East,Manhattan,Hamilton Heights
1,2019-12-01 00:12:08,2019-12-01 00:12:14,1,0.0,0.0,145.0,145.0,cash,2.5,NaN,3.800000,yellow,0.100000,2019,NaN,Queens,Long Island City/Hunters Point,Queens,Long Island City/Hunters Point
2,2019-12-01 00:25:53,2019-12-01 00:26:04,1,0.0,0.0,145.0,145.0,cash,2.5,NaN,3.800000,yellow,0.183333,2019,NaN,Queens,Long Island City/Hunters Point,Queens,Long Island City/Hunters Point
3,2019-12-01 00:12:03,2019-12-01 00:33:19,2,9.4,0.0,138.0,25.0,credit card,28.5,10.0,39.799999,yellow,21.266666,2019,NaN,Queens,LaGuardia Airport,Brooklyn,Boerum Hill
4,2019-12-01 00:05:27,2019-12-01 00:16:32,2,1.6,0.0,161.0,237.0,cash,9.0,NaN,12.800000,yellow,11.083333,2019,NaN,Manhattan,Midtown Center,Manhattan,Upper East Side South

In [2]:
from sys import stdout
from datetime import datetime
from data_processing import *

paths = [p for p in yellow_taxi_paths(taxi_data_basepath) if '2019' in p]
of = len(paths)

for i, path in enumerate(paths):
    source_file_name = os.path.basename(path)
    result_file_name = source_file_name.split('.')[0] + '.parquet'
    result_file_path = os.path.join(taxi_processed_basepath, result_file_name)
    stdout.write(f"{str(i+1).zfill(2)}/{of} - {datetime.now().isoformat(timespec='seconds')} - processing: {source_file_name}\n")
    df = _process_yellow_taxi_data(path)
    stdout.write(f"{str(i+1).zfill(2)}/{of} - {datetime.now().isoformat(timespec='seconds')} - writing DataFrame as parquet file: {result_file_name}\n")
    df.to_parquet(result_file_path, compression='snappy', engine='fastparquet')

stdout.write(f"{datetime.now().isoformat(timespec='seconds')} - finished processing files.\n")

01/12 - 2020-06-18T17:33:31 - processing: yellow_tripdata_2019-01.csv
01/12 - 2020-06-18T17:35:46 - writing DataFrame as parquet file: yellow_tripdata_2019-01.parquet
02/12 - 2020-06-18T17:36:18 - processing: yellow_tripdata_2019-02.csv
02/12 - 2020-06-18T17:38:21 - writing DataFrame as parquet file: yellow_tripdata_2019-02.parquet
03/12 - 2020-06-18T17:38:39 - processing: yellow_tripdata_2019-03.csv
03/12 - 2020-06-18T17:40:55 - writing DataFrame as parquet file: yellow_tripdata_2019-03.parquet
04/12 - 2020-06-18T17:41:14 - processing: yellow_tripdata_2019-04.csv
04/12 - 2020-06-18T17:43:20 - writing DataFrame as parquet file: yellow_tripdata_2019-04.parquet
05/12 - 2020-06-18T17:43:39 - processing: yellow_tripdata_2019-05.csv
05/12 - 2020-06-18T17:45:44 - writing DataFrame as parquet file: yellow_tripdata_2019-05.parquet
06/12 - 2020-06-18T17:46:03 - processing: yellow_tripdata_2019-06.csv
06/12 - 2020-06-18T17:48:00 - writing DataFrame as parquet file: yellow_tripdata_2019-06.parquet
07/12 - 2020-06-18T17:48:18 - processing: yellow_tripdata_2019-07.csv

C:\Users\ttaras\Miniconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

07/12 - 2020-06-18T17:50:06 - writing DataFrame as parquet file: yellow_tripdata_2019-07.parquet
08/12 - 2020-06-18T17:50:20 - processing: yellow_tripdata_2019-08.csv

C:\Users\ttaras\Miniconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

08/12 - 2020-06-18T17:52:07 - writing DataFrame as parquet file: yellow_tripdata_2019-08.parquet
09/12 - 2020-06-18T17:52:21 - processing: yellow_tripdata_2019-09.csv

C:\Users\ttaras\Miniconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

09/12 - 2020-06-18T17:54:14 - writing DataFrame as parquet file: yellow_tripdata_2019-09.parquet
10/12 - 2020-06-18T17:54:29 - processing: yellow_tripdata_2019-10.csv

C:\Users\ttaras\Miniconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

10/12 - 2020-06-18T17:56:34 - writing DataFrame as parquet file: yellow_tripdata_2019-10.parquet
11/12 - 2020-06-18T17:56:50 - processing: yellow_tripdata_2019-11.csv

C:\Users\ttaras\Miniconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

11/12 - 2020-06-18T17:58:49 - writing DataFrame as parquet file: yellow_tripdata_2019-11.parquet
12/12 - 2020-06-18T17:59:05 - processing: yellow_tripdata_2019-12.csv

C:\Users\ttaras\Miniconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

12/12 - 2020-06-18T18:01:00 - writing DataFrame as parquet file: yellow_tripdata_2019-12.parquet
2020-06-18T18:01:16 - finished processing files.

In [25]:
from sys import stdout
from datetime import datetime

of = len(green_taxi_paths(taxi_data_basepath))

for i, path in enumerate(green_taxi_paths(taxi_data_basepath)):
    source_file_name = os.path.basename(path)
    result_file_name = source_file_name.split('.')[0] + '.parquet'
    result_file_path = os.path.join(taxi_processed_basepath, result_file_name)
    stdout.write(f"{str(i+1).zfill(2)}/{of} - {datetime.now().isoformat(timespec='seconds')} - processing: {source_file_name}\n")
    df = _process_green_taxi_data(path)
    stdout.write(f"{str(i+1).zfill(2)}/{of} - {datetime.now().isoformat(timespec='seconds')} - writing DataFrame as parquet file: {result_file_name}\n")
    df.to_parquet(result_file_path, compression='snappy', engine='fastparquet')

stdout.write(f"{datetime.now().isoformat(timespec='seconds')} - finished processing files.\n")

01/77 - 2020-06-15T17:58:52 - processing: green_tripdata_2013-08.csv
01/77 - 2020-06-15T17:58:54 - writing DataFrame as parquet file: green_tripdata_2013-08.parquet
02/77 - 2020-06-15T17:58:54 - processing: green_tripdata_2013-09.csv
02/77 - 2020-06-15T17:59:01 - writing DataFrame as parquet file: green_tripdata_2013-09.parquet
03/77 - 2020-06-15T17:59:01 - processing: green_tripdata_2013-10.csv
03/77 - 2020-06-15T17:59:27 - writing DataFrame as parquet file: green_tripdata_2013-10.parquet
04/77 - 2020-06-15T17:59:27 - processing: green_tripdata_2013-11.csv
04/77 - 2020-06-15T18:00:24 - writing DataFrame as parquet file: green_tripdata_2013-11.parquet
05/77 - 2020-06-15T18:00:25 - processing: green_tripdata_2013-12.csv
05/77 - 2020-06-15T18:01:53 - writing DataFrame as parquet file: green_tripdata_2013-12.parquet
06/77 - 2020-06-15T18:01:55 - processing: green_tripdata_2014-01.csv
06/77 - 2020-06-15T18:03:52 - writing DataFrame as parquet file: green_tripdata_2014-01.parquet
07/77 - 2020-06-15T18:03:55 - processing: green_tripdata_2014-02.csv
07/77 - 2020-06-15T18:06:29 - writing DataFrame as parquet file: green_tripdata_2014-02.parquet
08/77 - 2020-06-15T18:06:32 - processing: green_tripdata_2014-03.csv
08/77 - 2020-06-15T18:09:37 - writing DataFrame as parquet file: green_tripdata_2014-03.parquet
09/77 - 2020-06-15T18:09:40 - processing: green_tripdata_2014-04.csv
09/77 - 2020-06-15T18:12:46 - writing DataFrame as parquet file: green_tripdata_2014-04.parquet
10/77 - 2020-06-15T18:12:49 - processing: green_tripdata_2014-05.csv
10/77 - 2020-06-15T18:16:11 - writing DataFrame as parquet file: green_tripdata_2014-05.parquet
11/77 - 2020-06-15T18:16:15 - processing: green_tripdata_2014-06.csv
11/77 - 2020-06-15T18:19:24 - writing DataFrame as parquet file: green_tripdata_2014-06.parquet
12/77 - 2020-06-15T18:19:27 - processing: green_tripdata_2014-07.csv
12/77 - 2020-06-15T18:22:24 - writing DataFrame as parquet file: green_tripdata_2014-07.parquet
13/77 - 2020-06-15T18:22:27 - processing: green_tripdata_2014-08.csv
13/77 - 2020-06-15T18:25:34 - writing DataFrame as parquet file: green_tripdata_2014-08.parquet
14/77 - 2020-06-15T18:25:38 - processing: green_tripdata_2014-09.csv
14/77 - 2020-06-15T18:28:47 - writing DataFrame as parquet file: green_tripdata_2014-09.parquet
15/77 - 2020-06-15T18:28:51 - processing: green_tripdata_2014-10.csv
15/77 - 2020-06-15T18:32:19 - writing DataFrame as parquet file: green_tripdata_2014-10.parquet
16/77 - 2020-06-15T18:32:23 - processing: green_tripdata_2014-11.csv
16/77 - 2020-06-15T18:35:58 - writing DataFrame as parquet file: green_tripdata_2014-11.parquet
17/77 - 2020-06-15T18:36:02 - processing: green_tripdata_2014-12.csv
17/77 - 2020-06-15T18:39:52 - writing DataFrame as parquet file: green_tripdata_2014-12.parquet
18/77 - 2020-06-15T18:39:56 - processing: green_tripdata_2015-01.csv
18/77 - 2020-06-15T18:43:26 - writing DataFrame as parquet file: green_tripdata_2015-01.parquet
19/77 - 2020-06-15T18:43:30 - processing: green_tripdata_2015-02.csv
19/77 - 2020-06-15T18:47:06 - writing DataFrame as parquet file: green_tripdata_2015-02.parquet
20/77 - 2020-06-15T18:47:10 - processing: green_tripdata_2015-03.csv
20/77 - 2020-06-15T18:51:14 - writing DataFrame as parquet file: green_tripdata_2015-03.parquet
21/77 - 2020-06-15T18:51:19 - processing: green_tripdata_2015-04.csv
21/77 - 2020-06-15T18:55:14 - writing DataFrame as parquet file: green_tripdata_2015-04.parquet
22/77 - 2020-06-15T18:55:18 - processing: green_tripdata_2015-05.csv
22/77 - 2020-06-15T18:59:29 - writing DataFrame as parquet file: green_tripdata_2015-05.parquet
23/77 - 2020-06-15T18:59:34 - processing: green_tripdata_2015-06.csv
23/77 - 2020-06-15T19:03:22 - writing DataFrame as parquet file: green_tripdata_2015-06.parquet
24/77 - 2020-06-15T19:03:26 - processing: green_tripdata_2015-07.csv
24/77 - 2020-06-15T19:07:04 - writing DataFrame as parquet file: green_tripdata_2015-07.parquet
25/77 - 2020-06-15T19:07:08 - processing: green_tripdata_2015-08.csv
25/77 - 2020-06-15T19:10:40 - writing DataFrame as parquet file: green_tripdata_2015-08.parquet
26/77 - 2020-06-15T19:10:44 - processing: green_tripdata_2015-09.csv
26/77 - 2020-06-15T19:14:10 - writing DataFrame as parquet file: green_tripdata_2015-09.parquet
27/77 - 2020-06-15T19:14:14 - processing: green_tripdata_2015-10.csv
27/77 - 2020-06-15T19:18:02 - writing DataFrame as parquet file: green_tripdata_2015-10.parquet
28/77 - 2020-06-15T19:18:06 - processing: green_tripdata_2015-11.csv
28/77 - 2020-06-15T19:21:38 - writing DataFrame as parquet file: green_tripdata_2015-11.parquet
29/77 - 2020-06-15T19:21:42 - processing: green_tripdata_2015-12.csv
29/77 - 2020-06-15T19:25:28 - writing DataFrame as parquet file: green_tripdata_2015-12.parquet
30/77 - 2020-06-15T19:25:32 - processing: green_tripdata_2016-01.csv
30/77 - 2020-06-15T19:28:53 - writing DataFrame as parquet file: green_tripdata_2016-01.parquet
31/77 - 2020-06-15T19:28:57 - processing: green_tripdata_2016-02.csv
31/77 - 2020-06-15T19:32:28 - writing DataFrame as parquet file: green_tripdata_2016-02.parquet
32/77 - 2020-06-15T19:32:32 - processing: green_tripdata_2016-03.csv
32/77 - 2020-06-15T19:36:09 - writing DataFrame as parquet file: green_tripdata_2016-03.parquet
33/77 - 2020-06-15T19:36:13 - processing: green_tripdata_2016-04.csv
33/77 - 2020-06-15T19:39:50 - writing DataFrame as parquet file: green_tripdata_2016-04.parquet
34/77 - 2020-06-15T19:39:54 - processing: green_tripdata_2016-05.csv
34/77 - 2020-06-15T19:43:27 - writing DataFrame as parquet file: green_tripdata_2016-05.parquet
35/77 - 2020-06-15T19:43:31 - processing: green_tripdata_2016-06.csv
35/77 - 2020-06-15T19:46:48 - writing DataFrame as parquet file: green_tripdata_2016-06.parquet
36/77 - 2020-06-15T19:46:51 - processing: green_tripdata_2016-07.csv
36/77 - 2020-06-15T19:47:14 - writing DataFrame as parquet file: green_tripdata_2016-07.parquet
37/77 - 2020-06-15T19:47:17 - processing: green_tripdata_2016-08.csv
37/77 - 2020-06-15T19:47:38 - writing DataFrame as parquet file: green_tripdata_2016-08.parquet
38/77 - 2020-06-15T19:47:41 - processing: green_tripdata_2016-09.csv
38/77 - 2020-06-15T19:48:01 - writing DataFrame as parquet file: green_tripdata_2016-09.parquet
39/77 - 2020-06-15T19:48:04 - processing: green_tripdata_2016-10.csv
39/77 - 2020-06-15T19:48:26 - writing DataFrame as parquet file: green_tripdata_2016-10.parquet
40/77 - 2020-06-15T19:48:29 - processing: green_tripdata_2016-11.csv
40/77 - 2020-06-15T19:48:49 - writing DataFrame as parquet file: green_tripdata_2016-11.parquet
41/77 - 2020-06-15T19:48:52 - processing: green_tripdata_2016-12.csv
41/77 - 2020-06-15T19:49:13 - writing DataFrame as parquet file: green_tripdata_2016-12.parquet
42/77 - 2020-06-15T19:49:16 - processing: green_tripdata_2017-01.csv
42/77 - 2020-06-15T19:49:34 - writing DataFrame as parquet file: green_tripdata_2017-01.parquet
43/77 - 2020-06-15T19:49:37 - processing: green_tripdata_2017-02.csv
43/77 - 2020-06-15T19:49:55 - writing DataFrame as parquet file: green_tripdata_2017-02.parquet
44/77 - 2020-06-15T19:49:57 - processing: green_tripdata_2017-03.csv
44/77 - 2020-06-15T19:50:17 - writing DataFrame as parquet file: green_tripdata_2017-03.parquet
45/77 - 2020-06-15T19:50:20 - processing: green_tripdata_2017-04.csv
45/77 - 2020-06-15T19:50:38 - writing DataFrame as parquet file: green_tripdata_2017-04.parquet
46/77 - 2020-06-15T19:50:41 - processing: green_tripdata_2017-05.csv
46/77 - 2020-06-15T19:51:00 - writing DataFrame as parquet file: green_tripdata_2017-05.parquet
47/77 - 2020-06-15T19:51:03 - processing: green_tripdata_2017-06.csv
47/77 - 2020-06-15T19:51:19 - writing DataFrame as parquet file: green_tripdata_2017-06.parquet
48/77 - 2020-06-15T19:51:22 - processing: green_tripdata_2017-07.csv
48/77 - 2020-06-15T19:51:38 - writing DataFrame as parquet file: green_tripdata_2017-07.parquet
49/77 - 2020-06-15T19:51:40 - processing: green_tripdata_2017-08.csv
49/77 - 2020-06-15T19:51:55 - writing DataFrame as parquet file: green_tripdata_2017-08.parquet
50/77 - 2020-06-15T19:51:57 - processing: green_tripdata_2017-09.csv
50/77 - 2020-06-15T19:52:12 - writing DataFrame as parquet file: green_tripdata_2017-09.parquet
51/77 - 2020-06-15T19:52:14 - processing: green_tripdata_2017-10.csv
51/77 - 2020-06-15T19:52:30 - writing DataFrame as parquet file: green_tripdata_2017-10.parquet
52/77 - 2020-06-15T19:52:33 - processing: green_tripdata_2017-11.csv
52/77 - 2020-06-15T19:52:48 - writing DataFrame as parquet file: green_tripdata_2017-11.parquet
53/77 - 2020-06-15T19:52:50 - processing: green_tripdata_2017-12.csv
53/77 - 2020-06-15T19:53:06 - writing DataFrame as parquet file: green_tripdata_2017-12.parquet
54/77 - 2020-06-15T19:53:08 - processing: green_tripdata_2018-01.csv
54/77 - 2020-06-15T19:53:22 - writing DataFrame as parquet file: green_tripdata_2018-01.parquet
55/77 - 2020-06-15T19:53:24 - processing: green_tripdata_2018-02.csv
55/77 - 2020-06-15T19:53:37 - writing DataFrame as parquet file: green_tripdata_2018-02.parquet
56/77 - 2020-06-15T19:53:39 - processing: green_tripdata_2018-03.csv
56/77 - 2020-06-15T19:53:53 - writing DataFrame as parquet file: green_tripdata_2018-03.parquet
57/77 - 2020-06-15T19:53:56 - processing: green_tripdata_2018-04.csv
57/77 - 2020-06-15T19:54:09 - writing DataFrame as parquet file: green_tripdata_2018-04.parquet
58/77 - 2020-06-15T19:54:11 - processing: green_tripdata_2018-05.csv
58/77 - 2020-06-15T19:54:24 - writing DataFrame as parquet file: green_tripdata_2018-05.parquet
59/77 - 2020-06-15T19:54:27 - processing: green_tripdata_2018-06.csv
59/77 - 2020-06-15T19:54:39 - writing DataFrame as parquet file: green_tripdata_2018-06.parquet
60/77 - 2020-06-15T19:54:41 - processing: green_tripdata_2018-07.csv
60/77 - 2020-06-15T19:54:53 - writing DataFrame as parquet file: green_tripdata_2018-07.parquet
61/77 - 2020-06-15T19:54:55 - processing: green_tripdata_2018-08.csv
61/77 - 2020-06-15T19:55:06 - writing DataFrame as parquet file: green_tripdata_2018-08.parquet
62/77 - 2020-06-15T19:55:08 - processing: green_tripdata_2018-09.csv
62/77 - 2020-06-15T19:55:19 - writing DataFrame as parquet file: green_tripdata_2018-09.parquet
63/77 - 2020-06-15T19:55:21 - processing: green_tripdata_2018-10.csv
63/77 - 2020-06-15T19:55:33 - writing DataFrame as parquet file: green_tripdata_2018-10.parquet
64/77 - 2020-06-15T19:55:35 - processing: green_tripdata_2018-11.csv
64/77 - 2020-06-15T19:55:46 - writing DataFrame as parquet file: green_tripdata_2018-11.parquet
65/77 - 2020-06-15T19:55:48 - processing: green_tripdata_2018-12.csv
65/77 - 2020-06-15T19:56:00 - writing DataFrame as parquet file: green_tripdata_2018-12.parquet
66/77 - 2020-06-15T19:56:02 - processing: green_tripdata_2019-01.csv
66/77 - 2020-06-15T19:56:12 - writing DataFrame as parquet file: green_tripdata_2019-01.parquet
67/77 - 2020-06-15T19:56:14 - processing: green_tripdata_2019-02.csv
67/77 - 2020-06-15T19:56:24 - writing DataFrame as parquet file: green_tripdata_2019-02.parquet
68/77 - 2020-06-15T19:56:25 - processing: green_tripdata_2019-03.csv
68/77 - 2020-06-15T19:56:36 - writing DataFrame as parquet file: green_tripdata_2019-03.parquet
69/77 - 2020-06-15T19:56:37 - processing: green_tripdata_2019-04.csv
69/77 - 2020-06-15T19:56:46 - writing DataFrame as parquet file: green_tripdata_2019-04.parquet
70/77 - 2020-06-15T19:56:47 - processing: green_tripdata_2019-05.csv
70/77 - 2020-06-15T19:56:56 - writing DataFrame as parquet file: green_tripdata_2019-05.parquet
71/77 - 2020-06-15T19:56:57 - processing: green_tripdata_2019-06.csv
71/77 - 2020-06-15T19:57:05 - writing DataFrame as parquet file: green_tripdata_2019-06.parquet
72/77 - 2020-06-15T19:57:07 - processing: green_tripdata_2019-07.csv

C:\Users\ttaras\Miniconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

72/77 - 2020-06-15T19:57:15 - writing DataFrame as parquet file: green_tripdata_2019-07.parquet
73/77 - 2020-06-15T19:57:16 - processing: green_tripdata_2019-08.csv

C:\Users\ttaras\Miniconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

73/77 - 2020-06-15T19:57:24 - writing DataFrame as parquet file: green_tripdata_2019-08.parquet
74/77 - 2020-06-15T19:57:27 - processing: green_tripdata_2019-09.csv

C:\Users\ttaras\Miniconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

74/77 - 2020-06-15T19:57:35 - writing DataFrame as parquet file: green_tripdata_2019-09.parquet
75/77 - 2020-06-15T19:57:36 - processing: green_tripdata_2019-10.csv

C:\Users\ttaras\Miniconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

75/77 - 2020-06-15T19:57:44 - writing DataFrame as parquet file: green_tripdata_2019-10.parquet
76/77 - 2020-06-15T19:57:46 - processing: green_tripdata_2019-11.csv

C:\Users\ttaras\Miniconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

76/77 - 2020-06-15T19:57:53 - writing DataFrame as parquet file: green_tripdata_2019-11.parquet
77/77 - 2020-06-15T19:57:54 - processing: green_tripdata_2019-12.csv

C:\Users\ttaras\Miniconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

77/77 - 2020-06-15T19:58:02 - writing DataFrame as parquet file: green_tripdata_2019-12.parquet
2020-06-15T19:58:03 - finished processing files.

In [ ]:
from data_processing import *

csv2parquet_green_taxi()

01/77 - 2020-06-18T18:08:30 - processing: green_tripdata_2013-08.csv
01/77 - 2020-06-18T18:08:41 - writing DataFrame as parquet file: green_tripdata_2013-08.parquet
02/77 - 2020-06-18T18:08:46 - processing: green_tripdata_2013-09.csv
02/77 - 2020-06-18T18:08:54 - writing DataFrame as parquet file: green_tripdata_2013-09.parquet
03/77 - 2020-06-18T18:08:54 - processing: green_tripdata_2013-10.csv
03/77 - 2020-06-18T18:09:19 - writing DataFrame as parquet file: green_tripdata_2013-10.parquet
04/77 - 2020-06-18T18:09:19 - processing: green_tripdata_2013-11.csv
04/77 - 2020-06-18T18:10:13 - writing DataFrame as parquet file: green_tripdata_2013-11.parquet
05/77 - 2020-06-18T18:10:14 - processing: green_tripdata_2013-12.csv
05/77 - 2020-06-18T18:11:40 - writing DataFrame as parquet file: green_tripdata_2013-12.parquet
06/77 - 2020-06-18T18:11:41 - processing: green_tripdata_2014-01.csv
06/77 - 2020-06-18T18:13:32 - writing DataFrame as parquet file: green_tripdata_2014-01.parquet
07/77 - 2020-06-18T18:13:34 - processing: green_tripdata_2014-02.csv

In [16]:
df = _process_green_taxi_data(os.path.join(taxi_data_basepath, 'green_tripdata_2013-08.csv'), nrows=10000)
df.head()

,pickup_datetime,dropoff_datetime,store_and_forward,passenger_count,trip_distance,fare_amount,tip_amount,total_amount,payment_type,trip_type,company,trip_duration,year,pickup_borough,pickup_zone,pickup_location_id,dropoff_borough,dropoff_zone,dropoff_location_id
8,2013-08-01 17:24:00,2013-08-01 17:25:00,0.0,1,0.0,2.5,NaN,5.11,cash,NaN,green,00:01:00,2013,Queens,Long Island City/Queens Plaza,146.0,Queens,Long Island City/Queens Plaza,146.0
37,2013-08-05 11:31:47,2013-08-05 11:34:01,0.0,1,0.0,1.0,NaN,1.00,cash,NaN,green,00:02:14,2013,Queens,Long Island City/Queens Plaza,146.0,Queens,Long Island City/Queens Plaza,146.0
38,2013-08-05 11:31:47,2013-08-05 11:32:16,0.0,1,0.0,1.2,NaN,1.20,cash,NaN,green,00:00:29,2013,Queens,Long Island City/Queens Plaza,146.0,Queens,Long Island City/Queens Plaza,146.0
41,2013-08-05 11:51:21,2013-08-05 11:51:36,0.0,1,0.0,1.0,NaN,1.00,cash,NaN,green,00:00:15,2013,Queens,Long Island City/Queens Plaza,146.0,Queens,Long Island City/Queens Plaza,146.0
42,2013-08-05 11:53:27,2013-08-05 11:53:43,0.0,1,0.0,1.0,NaN,1.00,cash,NaN,green,00:00:16,2013,Queens,Long Island City/Queens Plaza,146.0,Queens,Long Island City/Queens Plaza,146.0

In [9]:
df.dtypes

pickup_datetime         datetime64[ns]
dropoff_datetime        datetime64[ns]
store_and_forward              float16
pickup_location_id             float32
dropoff_location_id            float32
passenger_count                float16
trip_distance                  float32
fare_amount                    float32
tip_amount                     float32
total_amount                   float32
payment_type                   float64
trip_type                       object
company                         object
trip_duration          timedelta64[ns]
year                             int16
pickup_borough                  object
pickup_zone                     object
dropoff_borough                 object
dropoff_zone                    object
dtype: object

In [3]:
_process_yellow_taxi_data(os.path.join(taxi_data_basepath, 'yellow_tripdata_2009-01.csv')).to_parquet('./yellow_tripdata_2009-01.parquet', compression='snappy', engine='fastparquet')

In [7]:
par = pd.read_parquet('./processed_data/taxi/green_tripdata_2019-08.parquet', engine='fastparquet')
par.head()

,pickup_datetime,dropoff_datetime,store_and_forward,pickup_location_id,dropoff_location_id,passenger_count,trip_distance,fare_amount,tip_amount,total_amount,payment_type,trip_type,company,trip_duration,year,pickup_borough,pickup_zone,dropoff_borough,dropoff_zone
index,,,,,,,,,,,,,,,,,,,
0,2019-08-01 00:22:12,2019-08-01 00:22:38,0.0,145.0,145.0,1.0,0.00,2.5,0.00,3.300000,NaN,Street-hail,green,00:00:26,2019,Queens,Long Island City/Hunters Point,Queens,Long Island City/Hunters Point
1,2019-08-01 00:11:35,2019-08-01 00:25:53,0.0,66.0,49.0,5.0,2.55,11.5,2.56,15.360000,NaN,Street-hail,green,00:14:18,2019,Brooklyn,DUMBO/Vinegar Hill,Brooklyn,Clinton Hill
2,2019-08-01 00:56:09,2019-08-01 01:12:02,0.0,65.0,68.0,1.0,4.33,15.5,2.00,21.549999,NaN,Street-hail,green,00:15:53,2019,Brooklyn,Downtown Brooklyn/MetroTech,Manhattan,East Chelsea
3,2019-07-31 23:59:42,2019-08-01 00:11:44,0.0,25.0,133.0,1.0,3.85,13.0,2.00,16.299999,NaN,Street-hail,green,00:12:02,2019,Brooklyn,Boerum Hill,Brooklyn,Kensington
4,2019-08-01 00:20:34,2019-08-01 00:28:44,0.0,75.0,263.0,1.0,1.30,7.5,1.00,12.550000,NaN,Street-hail,green,00:08:10,2019,Manhattan,East Harlem South,Manhattan,Yorkville West

In [2]:
df.dtypes

pickup_datetime         datetime64[ns]
dropoff_datetime        datetime64[ns]
store_and_forward              float16
pickup_location_id             float32
dropoff_location_id            float32
passenger_count                  uint8
trip_distance                  float32
fare_amount                    float32
tip_amount                     float32
total_amount                   float32
payment_type                    object
trip_type                       object
company                         object
trip_duration          timedelta64[ns]
year                             int16
pickup_borough                  object
pickup_zone                     object
dropoff_borough                 object
dropoff_zone                    object
dtype: object

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9956 entries, 0 to 9999
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   pickup_datetime      9956 non-null   datetime64[ns]
 1   dropoff_datetime     9956 non-null   datetime64[ns]
 2   store_and_forward    9956 non-null   float16
 3   pickup_location_id   9956 non-null   float32
 4   dropoff_location_id  9956 non-null   float32
 5   passenger_count      9956 non-null   uint8
 6   trip_distance        9956 non-null   float32
 7   fare_amount          9956 non-null   float32
 8   tip_amount           5318 non-null   float32
 9   total_amount         9956 non-null   float32
 10  payment_type         9956 non-null   object
 11  trip_type            9956 non-null   object
 12  company              9956 non-null   object
 13  trip_duration        9956 non-null   timedelta64[ns]
 14  year                 9956 non-null   int16
 15  pickup_borough       9956 non-null   object
 16  pickup_zone          9953 non-null   object
 17  dropoff_borough      9956 non-null   object
 18  dropoff_zone         9926 non-null   object
dtypes: datetime64[ns](2), float16(1), float32(6), int16(1), object(7), timedelta64[ns](1), uint8(1)
memory usage: 1.1+ MB

In [42]:
df.describe()

,passenger_count,trip_distance,pickup_longitude,pickup_latitude,store_and_forward,dropoff_longitude,dropoff_latitude,fare_amount,tip_amount,total_amount
count,9873.000000,9873.000000,9873.000000,9873.000000,0.0,9873.000000,9873.000000,9873.000000,2134.000000,9873.000000
mean,1.985010,2.578816,-73.968692,40.756482,NaN,-73.974069,40.756357,9.456963,2.250951,10.353624
std,1.505385,2.941320,0.666900,0.411529,NaN,0.038231,0.411726,7.120231,1.984493,8.084598
min,1.000000,0.000000,-74.653192,40.259433,NaN,-74.653192,40.246228,2.500000,0.000000,2.500000
25%,1.000000,0.970000,-73.991462,40.736963,NaN,-73.991205,40.736115,5.300000,1.000000,5.800000
50%,1.000000,1.640000,-73.981668,40.754463,NaN,-73.980040,40.753968,7.300000,2.000000,8.100000
75%,2.000000,2.910000,-73.967833,40.768490,NaN,-73.964933,40.769662,10.900000,2.657500,11.700000
max,6.000000,33.620000,-7.823257,81.535005,NaN,-73.137393,81.535005,116.900000,31.390000,121.050000

In [43]:
df['pickup_datetime'].min()

Timestamp('2009-01-01 00:35:23')

In [44]:
df['pickup_datetime'].max()

Timestamp('2009-01-31 23:58:00')

In [45]:
df['dropoff_datetime'].min()

Timestamp('2009-01-01 00:45:18')

In [46]:
df['dropoff_datetime'].max()

Timestamp('2009-02-01 00:03:00')

In [50]:
temp = df['dropoff_datetime'] - df['pickup_datetime']
print(temp.min())
print(temp.max())

-1 days +21:16:00
0 days 23:57:00

In [7]:
import geopandas as gpd


gdf = gpd.read_file('./lookup/taxi_zones.shp')
gdf.head()

,OBJECTID,Shape_Leng,Shape_Area,zone,LocationID,borough,geometry
0,1,0.116357,0.000782,Newark Airport,1,EWR,"POLYGON ((933100.918 192536.086, 933091.011 19..."
1,2,0.433470,0.004866,Jamaica Bay,2,Queens,"MULTIPOLYGON (((1033269.244 172126.008, 103343..."
2,3,0.084341,0.000314,Allerton/Pelham Gardens,3,Bronx,"POLYGON ((1026308.770 256767.698, 1026495.593 ..."
3,4,0.043567,0.000112,Alphabet City,4,Manhattan,"POLYGON ((992073.467 203714.076, 992068.667 20..."
4,5,0.092146,0.000498,Arden Heights,5,Staten Island,"POLYGON ((935843.310 144283.336, 936046.565 14..."

In [10]:
with open('./zones_test.geojson', 'w') as f:
    f.write(gdf.to_crs('EPSG:4326').to_json())

In [71]:
ldf = pd.read_csv('./lookup/taxi+_zone_lookup.csv', index_col='LocationID')
ldf.head()

                  Borough                     Zone service_zone
LocationID
1                     EWR           Newark Airport          EWR
2                  Queens              Jamaica Bay    Boro Zone
3                   Bronx  Allerton/Pelham Gardens    Boro Zone
4               Manhattan            Alphabet City  Yellow Zone
5           Staten Island            Arden Heights    Boro Zone

In [67]:
gdf['borough'].unique()

array(['EWR', 'Queens', 'Bronx', 'Manhattan', 'Staten Island', 'Brooklyn'],
      dtype=object)

In [68]:
ldf['Borough'].unique()

array(['EWR', 'Queens', 'Bronx', 'Manhattan', 'Staten Island', 'Brooklyn',
       'Unknown'], dtype=object)

In [69]:
gdf['zone'].unique()

array(['Newark Airport', 'Jamaica Bay', 'Allerton/Pelham Gardens',
       'Alphabet City', 'Arden Heights', 'Arrochar/Fort Wadsworth',
       'Astoria', 'Astoria Park', 'Auburndale', 'Baisley Park',
       'Bath Beach', 'Battery Park', 'Battery Park City', 'Bay Ridge',
       'Bay Terrace/Fort Totten', 'Bayside', 'Bedford', 'Bedford Park',
       'Bellerose', 'Belmont', 'Bensonhurst East', 'Bensonhurst West',
       'Bloomfield/Emerson Hill', 'Bloomingdale', 'Boerum Hill',
       'Borough Park', 'Breezy Point/Fort Tilden/Riis Beach',
       'Briarwood/Jamaica Hills', 'Brighton Beach', 'Broad Channel',
       'Bronx Park', 'Bronxdale', 'Brooklyn Heights',
       'Brooklyn Navy Yard', 'Brownsville', 'Bushwick North',
       'Bushwick South', 'Cambria Heights', 'Canarsie', 'Carroll Gardens',
       'Central Harlem', 'Central Harlem North', 'Central Park',
       'Charleston/Tottenville', 'Chinatown', 'City Island',
       'Claremont/Bathgate', 'Clinton East', 'Clinton Hill',
       'Clinton West', 'Co-Op City', 'Cobble Hill', 'College Point',
       'Columbia Street', 'Coney Island', 'Corona', 'Country Club',
       'Crotona Park', 'Crotona Park East', 'Crown Heights North',
       'Crown Heights South', 'Cypress Hills', 'Douglaston',
       'Downtown Brooklyn/MetroTech', 'DUMBO/Vinegar Hill',
       'Dyker Heights', 'East Chelsea',
       'East Concourse/Concourse Village', 'East Elmhurst',
       'East Flatbush/Farragut', 'East Flatbush/Remsen Village',
       'East Flushing', 'East Harlem North', 'East Harlem South',
       'East New York', 'East New York/Pennsylvania Avenue',
       'East Tremont', 'East Village', 'East Williamsburg', 'Eastchester',
       'Elmhurst', 'Elmhurst/Maspeth',
       "Eltingville/Annadale/Prince's Bay", 'Erasmus', 'Far Rockaway',
       'Financial District North', 'Financial District South',
       'Flatbush/Ditmas Park', 'Flatiron', 'Flatlands', 'Flushing',
       'Flushing Meadows-Corona Park', 'Fordham South', 'Forest Hills',
       'Forest Park/Highland Park', 'Fort Greene', 'Fresh Meadows',
       'Freshkills Park', 'Garment District', 'Glen Oaks', 'Glendale',
       "Governor's Island/Ellis Island/Liberty Island", 'Gowanus',
       'Gramercy', 'Gravesend', 'Great Kills', 'Great Kills Park',
       'Green-Wood Cemetery', 'Greenpoint', 'Greenwich Village North',
       'Greenwich Village South', 'Grymes Hill/Clifton',
       'Hamilton Heights', 'Hammels/Arverne',
       'Heartland Village/Todt Hill', 'Highbridge', 'Highbridge Park',
       'Hillcrest/Pomonok', 'Hollis', 'Homecrest', 'Howard Beach',
       'Hudson Sq', 'Hunts Point', 'Inwood', 'Inwood Hill Park',
       'Jackson Heights', 'Jamaica', 'Jamaica Estates', 'JFK Airport',
       'Kensington', 'Kew Gardens', 'Kew Gardens Hills',
       'Kingsbridge Heights', 'Kips Bay', 'LaGuardia Airport',
       'Laurelton', 'Lenox Hill East', 'Lenox Hill West',
       'Lincoln Square East', 'Lincoln Square West',
       'Little Italy/NoLiTa', 'Long Island City/Hunters Point',
       'Long Island City/Queens Plaza', 'Longwood', 'Lower East Side',
       'Madison', 'Manhattan Beach', 'Manhattan Valley', 'Manhattanville',
       'Marble Hill', 'Marine Park/Floyd Bennett Field',
       'Marine Park/Mill Basin', 'Mariners Harbor', 'Maspeth',
       'Meatpacking/West Village West', 'Melrose South', 'Middle Village',
       'Midtown Center', 'Midtown East', 'Midtown North', 'Midtown South',
       'Midwood', 'Morningside Heights', 'Morrisania/Melrose',
       'Mott Haven/Port Morris', 'Mount Hope', 'Murray Hill',
       'Murray Hill-Queens', 'New Dorp/Midland Beach', 'North Corona',
       'Norwood', 'Oakland Gardens', 'Oakwood', 'Ocean Hill',
       'Ocean Parkway South', 'Old Astoria', 'Ozone Park', 'Park Slope',
       'Parkchester', 'Pelham Bay', 'Pelham Bay Park', 'Pelham Parkway',
       'Penn Station/Madison Sq West', 'Port Richmond',
       'Prospect-Lefferts Gardens', 'Prospect Heights', 'Prospect Park',
       'Queens Village', 'Queensboro Hill', 'Queensbridge/Ravenswood',
       'Randalls Island', 'Red Hook', 'Rego Park', 'Richmond Hill',
       'Ridgewood', 'Rikers Island',
       'Riverdale/North Riverdale/Fieldston', 'Rockaway Park',
       'Roosevelt Island', 'Rosedale', 'Rossville/Woodrow',
       'Saint Albans', 'Saint George/New Brighton',
       'Saint Michaels Cemetery/Woodside', 'Schuylerville/Edgewater Park',
       'Seaport', 'Sheepshead Bay', 'SoHo', 'Soundview/Bruckner',
       'Soundview/Castle Hill', 'South Beach/Dongan Hills',
       'South Jamaica', 'South Ozone Park', 'South Williamsburg',
       'Springfield Gardens North', 'Springfield Gardens South',
       'Spuyten Duyvil/Kingsbridge', 'Stapleton', 'Starrett City',
       'Steinway', 'Stuy Town/Peter Cooper Village', 'Stuyvesant Heights',
       'Sunnyside', 'Sunset Park East', 'Sunset Park West',
       'Sutton Place/Turtle Bay North', 'Times Sq/Theatre District',
       'TriBeCa/Civic Center', 'Two Bridges/Seward Park',
       'UN/Turtle Bay South', 'Union Sq',
       'University Heights/Morris Heights', 'Upper East Side North',
       'Upper East Side South', 'Upper West Side North',
       'Upper West Side South', 'Van Cortlandt Park',
       'Van Cortlandt Village', 'Van Nest/Morris Park',
       'Washington Heights North', 'Washington Heights South',
       'West Brighton', 'West Chelsea/Hudson Yards', 'West Concourse',
       'West Farms/Bronx River', 'West Village',
       'Westchester Village/Unionport', 'Westerleigh', 'Whitestone',
       'Willets Point', 'Williamsbridge/Olinville',
       'Williamsburg (North Side)', 'Williamsburg (South Side)',
       'Windsor Terrace', 'Woodhaven', 'Woodlawn/Wakefield', 'Woodside',
       'World Trade Center', 'Yorkville East', 'Yorkville West'],
      dtype=object)

In [70]:
ldf['Zone'].unique()

array(['Newark Airport', 'Jamaica Bay', 'Allerton/Pelham Gardens',
       'Alphabet City', 'Arden Heights', 'Arrochar/Fort Wadsworth',
       'Astoria', 'Astoria Park', 'Auburndale', 'Baisley Park',
       'Bath Beach', 'Battery Park', 'Battery Park City', 'Bay Ridge',
       'Bay Terrace/Fort Totten', 'Bayside', 'Bedford', 'Bedford Park',
       'Bellerose', 'Belmont', 'Bensonhurst East', 'Bensonhurst West',
       'Bloomfield/Emerson Hill', 'Bloomingdale', 'Boerum Hill',
       'Borough Park', 'Breezy Point/Fort Tilden/Riis Beach',
       'Briarwood/Jamaica Hills', 'Brighton Beach', 'Broad Channel',
       'Bronx Park', 'Bronxdale', 'Brooklyn Heights',
       'Brooklyn Navy Yard', 'Brownsville', 'Bushwick North',
       'Bushwick South', 'Cambria Heights', 'Canarsie', 'Carroll Gardens',
       'Central Harlem', 'Central Harlem North', 'Central Park',
       'Charleston/Tottenville', 'Chinatown', 'City Island',
       'Claremont/Bathgate', 'Clinton East', 'Clinton Hill',
       'Clinton West', 'Co-Op City', 'Cobble Hill', 'College Point',
       'Columbia Street', 'Coney Island', 'Corona', 'Country Club',
       'Crotona Park', 'Crotona Park East', 'Crown Heights North',
       'Crown Heights South', 'Cypress Hills', 'Douglaston',
       'Downtown Brooklyn/MetroTech', 'DUMBO/Vinegar Hill',
       'Dyker Heights', 'East Chelsea',
       'East Concourse/Concourse Village', 'East Elmhurst',
       'East Flatbush/Farragut', 'East Flatbush/Remsen Village',
       'East Flushing', 'East Harlem North', 'East Harlem South',
       'East New York', 'East New York/Pennsylvania Avenue',
       'East Tremont', 'East Village', 'East Williamsburg', 'Eastchester',
       'Elmhurst', 'Elmhurst/Maspeth',
       "Eltingville/Annadale/Prince's Bay", 'Erasmus', 'Far Rockaway',
       'Financial District North', 'Financial District South',
       'Flatbush/Ditmas Park', 'Flatiron', 'Flatlands', 'Flushing',
       'Flushing Meadows-Corona Park', 'Fordham South', 'Forest Hills',
       'Forest Park/Highland Park', 'Fort Greene', 'Fresh Meadows',
       'Freshkills Park', 'Garment District', 'Glen Oaks', 'Glendale',
       "Governor's Island/Ellis Island/Liberty Island", 'Gowanus',
       'Gramercy', 'Gravesend', 'Great Kills', 'Great Kills Park',
       'Green-Wood Cemetery', 'Greenpoint', 'Greenwich Village North',
       'Greenwich Village South', 'Grymes Hill/Clifton',
       'Hamilton Heights', 'Hammels/Arverne',
       'Heartland Village/Todt Hill', 'Highbridge', 'Highbridge Park',
       'Hillcrest/Pomonok', 'Hollis', 'Homecrest', 'Howard Beach',
       'Hudson Sq', 'Hunts Point', 'Inwood', 'Inwood Hill Park',
       'Jackson Heights', 'Jamaica', 'Jamaica Estates', 'JFK Airport',
       'Kensington', 'Kew Gardens', 'Kew Gardens Hills',
       'Kingsbridge Heights', 'Kips Bay', 'LaGuardia Airport',
       'Laurelton', 'Lenox Hill East', 'Lenox Hill West',
       'Lincoln Square East', 'Lincoln Square West',
       'Little Italy/NoLiTa', 'Long Island City/Hunters Point',
       'Long Island City/Queens Plaza', 'Longwood', 'Lower East Side',
       'Madison', 'Manhattan Beach', 'Manhattan Valley', 'Manhattanville',
       'Marble Hill', 'Marine Park/Floyd Bennett Field',
       'Marine Park/Mill Basin', 'Mariners Harbor', 'Maspeth',
       'Meatpacking/West Village West', 'Melrose South', 'Middle Village',
       'Midtown Center', 'Midtown East', 'Midtown North', 'Midtown South',
       'Midwood', 'Morningside Heights', 'Morrisania/Melrose',
       'Mott Haven/Port Morris', 'Mount Hope', 'Murray Hill',
       'Murray Hill-Queens', 'New Dorp/Midland Beach', 'North Corona',
       'Norwood', 'Oakland Gardens', 'Oakwood', 'Ocean Hill',
       'Ocean Parkway South', 'Old Astoria', 'Ozone Park', 'Park Slope',
       'Parkchester', 'Pelham Bay', 'Pelham Bay Park', 'Pelham Parkway',
       'Penn Station/Madison Sq West', 'Port Richmond',
       'Prospect-Lefferts Gardens', 'Prospect Heights', 'Prospect Park',
       'Queens Village', 'Queensboro Hill', 'Queensbridge/Ravenswood',
       'Randalls Island', 'Red Hook', 'Rego Park', 'Richmond Hill',
       'Ridgewood', 'Rikers Island',
       'Riverdale/North Riverdale/Fieldston', 'Rockaway Park',
       'Roosevelt Island', 'Rosedale', 'Rossville/Woodrow',
       'Saint Albans', 'Saint George/New Brighton',
       'Saint Michaels Cemetery/Woodside', 'Schuylerville/Edgewater Park',
       'Seaport', 'Sheepshead Bay', 'SoHo', 'Soundview/Bruckner',
       'Soundview/Castle Hill', 'South Beach/Dongan Hills',
       'South Jamaica', 'South Ozone Park', 'South Williamsburg',
       'Springfield Gardens North', 'Springfield Gardens South',
       'Spuyten Duyvil/Kingsbridge', 'Stapleton', 'Starrett City',
       'Steinway', 'Stuy Town/Peter Cooper Village', 'Stuyvesant Heights',
       'Sunnyside', 'Sunset Park East', 'Sunset Park West',
       'Sutton Place/Turtle Bay North', 'Times Sq/Theatre District',
       'TriBeCa/Civic Center', 'Two Bridges/Seward Park',
       'UN/Turtle Bay South', 'Union Sq',
       'University Heights/Morris Heights', 'Upper East Side North',
       'Upper East Side South', 'Upper West Side North',
       'Upper West Side South', 'Van Cortlandt Park',
       'Van Cortlandt Village', 'Van Nest/Morris Park',
       'Washington Heights North', 'Washington Heights South',
       'West Brighton', 'West Chelsea/Hudson Yards', 'West Concourse',
       'West Farms/Bronx River', 'West Village',
       'Westchester Village/Unionport', 'Westerleigh', 'Whitestone',
       'Willets Point', 'Williamsbridge/Olinville',
       'Williamsburg (North Side)', 'Williamsburg (South Side)',
       'Windsor Terrace', 'Woodhaven', 'Woodlawn/Wakefield', 'Woodside',
       'World Trade Center', 'Yorkville East', 'Yorkville West', 'NV',
       nan], dtype=object)

In [73]:
gpd.GeoDataFrame(
    #df.index, 
    geometry=gpd.points_from_xy(
        x=df['pickup_longitude'], 
        y=df['pickup_latitude']))

                        geometry
0     POINT (-73.99196 40.72157)
1     POINT (-73.98210 40.73629)
2     POINT (-74.00259 40.73975)
3     POINT (-73.97427 40.79095)
4     POINT (-74.00158 40.71938)
...                          ...
9562  POINT (-73.99717 40.73743)
9563  POINT (-73.96221 40.77912)
9564  POINT (-73.87302 40.77405)
9565  POINT (-73.98495 40.75665)
9566  POINT (-73.98261 40.78248)

[9567 rows x 1 columns]

In [78]:

gpd.sjoin(
    left_df=gpd.GeoDataFrame(
        geometry=gpd.points_from_xy(
            x=df['pickup_longitude'], 
            y=df['pickup_latitude']),
        crs='EPSG:4326'
    ),
    right_df=gdf.to_crs('EPSG:4326'), 
    how='left')

,geometry,index_right,OBJECTID,Shape_Leng,Shape_Area,zone,LocationID,borough
0,POINT (-73.99196 40.72157),147.0,148.0,0.039131,0.000070,Lower East Side,148.0,Manhattan
1,POINT (-73.98210 40.73629),106.0,107.0,0.038041,0.000075,Gramercy,107.0,Manhattan
2,POINT (-74.00259 40.73975),248.0,249.0,0.036384,0.000072,West Village,249.0,Manhattan
3,POINT (-73.97427 40.79095),237.0,238.0,0.060109,0.000185,Upper West Side North,238.0,Manhattan
4,POINT (-74.00158 40.71938),143.0,144.0,0.027620,0.000047,Little Italy/NoLiTa,144.0,Manhattan
...,...,...,...,...,...,...,...,...
9562,POINT (-73.99717 40.73743),248.0,249.0,0.036384,0.000072,West Village,249.0,Manhattan
9563,POINT (-73.96221 40.77912),42.0,43.0,0.099739,0.000380,Central Park,43.0,Manhattan
9564,POINT (-73.87302 40.77405),137.0,138.0,0.107467,0.000537,LaGuardia Airport,138.0,Queens
9565,POINT (-73.98495 40.75665),229.0,230.0,0.031028,0.000056,Times Sq/Theatre District,230.0,Manhattan
9566,POINT (-73.98261 40.78248),238.0,239.0,0.063626,0.000205,Upper West Side South,239.0,Manhattan

In [33]:
df = pd.read_csv(
    os.path.join(taxi_data_basepath, 'green_tripdata_2013-08.csv'),
    header=0,
    names='VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,Trip_distance,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,Ehail_fee,Total_amount,Payment_type,Trip_type,junk1,junk2'.split(','), 
    nrows=10000)
df.head()

,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,...,Extra,MTA_tax,Tip_amount,Tolls_amount,Ehail_fee,Total_amount,Payment_type,Trip_type,junk1,junk2
0,2,2013-08-01 08:14:37,2013-08-01 09:09:06,N,1,0.0,0.0,0.0,0.0,1,...,0.0,0.0,0.0,0.0,NaN,21.25,2,NaN,NaN,NaN
1,2,2013-08-01 09:13:00,2013-08-01 11:38:00,N,1,0.0,0.0,0.0,0.0,2,...,0.0,0.5,0.0,0.0,NaN,75.00,2,NaN,NaN,NaN
2,2,2013-08-01 09:48:00,2013-08-01 09:49:00,N,5,0.0,0.0,0.0,0.0,1,...,0.1,0.0,0.0,1.0,NaN,2.10,2,NaN,NaN,NaN
3,2,2013-08-01 10:38:35,2013-08-01 10:38:51,N,1,0.0,0.0,0.0,0.0,1,...,0.0,0.0,0.0,0.0,NaN,3.25,2,NaN,NaN,NaN
4,2,2013-08-01 11:51:45,2013-08-01 12:03:52,N,1,0.0,0.0,0.0,0.0,1,...,0.0,0.5,0.0,0.0,NaN,9.00,2,NaN,NaN,NaN

In [34]:
df.columns

Index(['VendorID', 'lpep_pickup_datetime', 'Lpep_dropoff_datetime',
       'Store_and_fwd_flag', 'RateCodeID', 'Pickup_longitude',
       'Pickup_latitude', 'Dropoff_longitude', 'Dropoff_latitude',
       'Passenger_count', 'Trip_distance', 'Fare_amount', 'Extra', 'MTA_tax',
       'Tip_amount', 'Tolls_amount', 'Ehail_fee', 'Total_amount',
       'Payment_type', 'Trip_type', 'junk1', 'junk2'],
      dtype='object')

In [35]:
df['Payment_type'].unique()

array([2, 1, 3, 4], dtype=int64)

In [36]:
df['Trip_type'].unique()

array([nan])

In [10]:
df = pd.read_csv('./raw_data/taxi/green_tripdata_2013-08.csv', nrows=10000, header=0, names='VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,Trip_distance,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,Ehail_fee,Total_amount,Payment_type,Trip_type ,junk1,junk2'.split(','))
df.head()

,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,...,Extra,MTA_tax,Tip_amount,Tolls_amount,Ehail_fee,Total_amount,Payment_type,Trip_type,junk1,junk2
0,2,2013-08-01 08:14:37,2013-08-01 09:09:06,N,1,0.0,0.0,0.0,0.0,1,...,0.0,0.0,0.0,0.0,NaN,21.25,2,NaN,NaN,NaN
1,2,2013-08-01 09:13:00,2013-08-01 11:38:00,N,1,0.0,0.0,0.0,0.0,2,...,0.0,0.5,0.0,0.0,NaN,75.00,2,NaN,NaN,NaN
2,2,2013-08-01 09:48:00,2013-08-01 09:49:00,N,5,0.0,0.0,0.0,0.0,1,...,0.1,0.0,0.0,1.0,NaN,2.10,2,NaN,NaN,NaN
3,2,2013-08-01 10:38:35,2013-08-01 10:38:51,N,1,0.0,0.0,0.0,0.0,1,...,0.0,0.0,0.0,0.0,NaN,3.25,2,NaN,NaN,NaN
4,2,2013-08-01 11:51:45,2013-08-01 12:03:52,N,1,0.0,0.0,0.0,0.0,1,...,0.0,0.5,0.0,0.0,NaN,9.00,2,NaN,NaN,NaN

In [3]:
import pandas as pd

df = pd.read_csv('./raw_data/taxi/green_tripdata_2019-01.csv', nrows=10000)
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN

In [4]:
df['trip_type'].unique()

array([1, 2], dtype=int64)